.v-shell-tabsheet {
    position: relative;
}

.v-shell-tab {

}

.v-shell-tab-close {
    position: absolute;
    left: 4px;
    top: 3px;
    width: 20px;
    height: 20px;
    z-index: 1000;
}

.v-shell-tab-notification {
    height: 22px;
    position: absolute;
    right: 7px;
    top: 1px;
    width: 22px;
    z-index: 4000;
}

.v-shell-tab-notification > span {
    color: white;
    font-size: 12px;
    height: 22px;
    position: absolute;
    top: 3px;
    width: 22px;
    z-index: 4001;
    text-align: center;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    height: 26px;
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: 0;
}

ul.nav-tabs {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0;
    padding: 0;
}

.nav.nav-tabs > li > span {
    color: #999999;
    font-family: DinRound,Arial;
    font-size: 12px;
    text-align: left;
}

.nav-tabs > li > span, .nav-pills > li > span {
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.nav-tabs > li {
    margin-bottom: -1px;
    cursor: pointer;
    position: relative;
}

.nav-tabs > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD #DDDDDD #DDDDDD #EEEEEE;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    min-width: 130px;
    padding: 5px 10px 5px 25px;
}
.nav-tabs > li > span:hover {
    background-color: #F9F9F9;
}

.nav-tabs > li.active > span, .nav-tabs > li.active > span:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav {
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: 0;
}

.nav > li > span {
    display: block;
    position: relative;
}
.nav > li > span:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav-list {
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}
.nav-list .active > span, .nav-list .active > span:hover {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list [class^="icon-"] {
    margin-right: 2px;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    content: "";
    display: table;
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li > span:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}