@charset "UTF-8";

@import "../magnolia/fonts.scss";
@import "../admincentraltheme/fonts.scss";
@import "../magnolia/colors.scss";

/* ---------------------------
 * Edit bars definitions
 * ---------------------------
 */

/*
 * This class should be added to all injected div elements, instead of tweaking each element individually.
 * Makes it easier to maintain and all subsequent classes should only declare styles they actually use.
 */
.mgnlEditor, .mgnlEditor div {
    float: none !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent none no-repeat !important;
    outline: 0 !important;
}

a.disabled:hover {
    cursor: default !important;
}

/*
 * General appearance of edit bar.
 */
div.mgnlEditorBar {
    /* Change the box model to include borders and paddings in the width and height set. */
    /* Allows here for a more intuitive handling of place holder heights and widths. */
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
    box-sizing: border-box !important;         /* IE 8+ */
    height: 25px !important;
    /* vertical paddings minus borders -1. "-1" to make sure that FF properly align labels in all cases; for other */
    /* browsers, this has no effect. This only works with single-line labels. */
    background-color: #efefef !important;
    color: #6a9090 !important;
    text-transform: uppercase !important;
    margin: 0 0 2px 0 !important;
    font-family: DINWebPro, Verdana, sans-serif !important;
    font-size: 12px !important;
}

/* Selected Item (focus) */
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.focus,
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.focus,
div.mgnlEditorBar.area.focus
{
    background-color: #6a9000 !important;
    color: #ffffff !important;
}

/* The parent of the focussed component */
div.mgnlEditorBar.area.childFocus {
    background-color: #e1e8cc !important;
    color: #6a9000 !important;
}

/* Siblings of the selected area */
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component,
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorPlaceholder.component,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorPlaceholder.component {
    background-color: #e1e8cc !important;
    color: #6a9000 !important;
}


/* "Children" of an area - (which are actually any siblings in the dom structure, which contain a mgnlEditorBar component.) */
div.mgnlEditorBar.area.focus ~ div.mgnlEditorBar.component,
div.mgnlEditorBar.area.focus ~ * div.mgnlEditorBar.component,
div.mgnlEditorBar.area.focus ~ div.mgnlEditorPlaceholder.component,
div.mgnlEditorBar.area.focus ~ * div.mgnlEditorPlaceholder.component {
    background-color: #a5bc66 !important;
    color: #ffffff !important;
}

/* "Children" of a component */
div.mgnlEditorBar.component.focus ~ * div.mgnlEditorBar.area,
div.mgnlEditorBar.component.focus ~ div.mgnlEditorBar.area
{
    background-color: #a5bc66 !important;
    color: #ffffff !important;
}


/*
 * Area edit bar.
 */

div.mgnlEditorBar.area {
    background-color: #efefef !important;
    color: #689600 !important;
    clear: both !important;
}

div.mgnlEditorBar.area.end {
    height: 10px !important;
    margin: 0 0 10px 0 !important;
}

/*
div.mgnlEditorBar.area.end.focus {
    background-color: #6a9000 !important;
    color: #FFF !important;
}

div.mgnlEditorBar.area.end.childFocus {
    background-color: #e1e8cc !important;
    color: #6a9000 !important;
}
*/



/*
 * Component edit bar.
 */
div.mgnlEditorBar.component {
    background-color: #efefef !important;

    /* See .mgnlEditorBar for an explanation of this */
    color: #6a9000 !important;
}

.mgnlEditorBar.placeholder {
    background-color: inherit !important;

    /* See .mgnlEditorBar for an explanation of this */
    color: inherit !important;
}

/*
 * Div carrying buttons.
 */
div.mgnlEditorBarButtons {
    float: right !important;
    padding: 0 8px 0 0 !important;
}


/**
 * Icon classes.
 */
div.editorIcon {
    line-height: 25px !important;
    padding: 0 0 0 11px !important;
    cursor: pointer !important;
    font-size: 18px !important;
}


/*
 * Label on bars showing name of component or area.
 */
div.mgnlEditorBarLabel {
    padding: 0 0 0 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    line-height: 25px !important;
}

/* --- End of edit bars definitions --- */


/* ----------------------------------
 * Definitions for edit place holders
 * ----------------------------------
 */

/* General place holder definitions */
div.mgnlEditorPlaceholder {
    /* Change the box model to include borders and paddings in the width and height set. */
    /* Allows here for a more intuitive handling of place holder heights and widths. */
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
    box-sizing: border-box !important;         /* IE 8+ */
    clear: both !important;
    color: #6a9000 !important;
}

/* Area place holder, not in focus. */
div.mgnlEditorPlaceholder.area {
    margin: 10px 0 !important;
    padding: 25px 15px !important;
    background-color: #eeeeee !important;
    color: #6a9000 !important;
    text-align: center !important;
}

/* Area place holder, in focus. */
div.mgnlEditorPlaceholder.area.active {
    display: none !important;
}

/* Component place holder */
div.mgnlEditorPlaceholder.component.box {
    background-color: #efefef !important;

    /* See .mgnlEditorBar for an explanation of this */
    color: #6a9000 !important;
}
div.mgnlEditorPlaceholder.component.box {
    height: 45px !important;
}

.mgnlEditorLocaleSelector {
    margin-top: 1px !important;
    margin-right: 4px !important;
}

/* --- End of edit place holder definitions --- */


/* -------------------------------------
 *  Drag and drop of component edit bar
 * -------------------------------------
 */

/* drag source */
.mgnlEditorBar.component.moveSource {
    border-top: 1px solid #deeab7 !important;
    border-left: 1px solid #deeab7 !important;
    border-bottom: 1px solid #b3c587 !important;
    border-right: 1px solid #b3c587 !important;
    background-image: url("img/bars/mgnl-bar.component.deemphasized.png") !important;
}

/* possible drop targets */
.mgnlEditorBar.component.moveTarget {
    border: 1px solid #d0234b !important;
}

/* selected drop target */
.mgnlEditorBar.component.moveOver {
    line-height: 16px !important;
    border: 3px solid #d0234b !important;
}

.mgnlEditorBar.component.moveOver .mgnlEditorBarLabel {
    margin: 0 0 0 3px !important;
}

/* make component placeholder slightly less strong */
.mgnlEditorPlaceholder.component.moveOngoing .mgnlEditorBar {
    border-top: 1px solid #deeab7 !important;
    border-left: 1px solid #deeab7 !important;
    border-bottom: 1px solid #b3c587 !important;
    border-right: 1px solid #b3c587 !important;
}

.mgnlEditorPlaceholder.component.moveOngoing .mgnlEditorPlaceholderElements {
    border: 2px dotted #b3c587 !important;
    border-top: none;
}

.mgnlEditorPlaceholder.component.moveOngoing .mgnlEditorBarLabel {
    display: none !important;
}

.mgnlEditorPlaceholder.component.moveOngoing .mgnlEditorPushButton {
    display: none !important;
}

div.mgnlEditorMoveDiv {
    position: absolute !important;
    z-index: 1000 !important;
}

/* --- End of DnD definitions --- */
