@charset "UTF-8";

@import "../magnolia/colors.scss";
@import "page-editor-colors.scss";

@mixin page-preview {

  .pagebar > .v-label {
    margin: 0 0 0 16px;
    font-family: DINWebPro, Verdana, sans-serif;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
  }

  .pagebar > .title {
    float: left;
  }

  .pagebar > .status {
    float: right;
    margin-right: 20px;
  }

  .pagebar {
    color: $c16;
    background-color: $cp50;
    height: 25px;
  }

  .pagebar.preview {
    background-color: $c90;
  }

  .pagebar > .v-filterselect {
    float: right;
    margin-right: 15px;
    height: 21px;
    padding-top: 2px;
    width: auto !important;

    input {
      padding-top: 1px !important;
      padding-bottom: 2px !important;
      min-width: 100px;
      max-width: 100px;
    }

    .v-filterselect-button {
      background-position: 0 -8px;
      height: 12px;
    }
  }

  .preview.tabletLandscape {
    background: url(img/tablet/landscape.png) no-repeat !important;
    width: 1300px !important;
    height: 1025px !important;
  }

  .preview.tabletLandscape .content {
    position: absolute !important;
    top: 211px !important;
    left: 128px !important;
    width: 1024px !important;
    height: 672px !important;
  }

  .preview.tabletPortrait {
    background: url(img/tablet/portrait.png) no-repeat !important;
    width: 1020px !important;
    height: 1300px !important;
  }

  .preview.tabletPortrait .content {
    position: absolute !important;
    top: 224px !important;
    left: 118px !important;
    width: 768px !important;
    height: 928px !important;
  }

  .preview.smartphoneLandscape {
    background: url(img/smartphone/landscape.png) no-repeat !important;
    width: 752px !important;
    height: 461px !important;
  }

  .preview.smartphoneLandscape .content {
    position: absolute !important;
    top: 112px !important;
    left: 130px !important;
    width: 480px !important;
    height: 210px !important;
  }

  .preview.smartphonePortrait {
    background: url(img/smartphone/portrait.png) no-repeat !important;
    width: 393px !important;
    height: 756px !important;
  }

  .preview.smartphonePortrait .content {
    position: absolute !important;
    top: 213px !important;
    left: 32px !important;
    width: 320px !important;
    height: 356px !important;
  }

  .preview iframe {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
  }
  
  .preview .iframe-preloader {
    background: center no-repeat url(img/loading.gif) !important;
  }
  
  .preview {
    margin: auto;
    position: relative;
  }

  .preview.tabletPortrait,
  .preview.tabletLandscape,
  .preview.smartphoneLandscape,
  .preview.smartphonePortrait {
    margin-top: 20px;
  }

  .pageEditorView.previewMode {
    overflow: auto;
  }

  .pageEditorView {
    overflow: hidden;
  }

}