@charset "UTF-8";

@import "../magnolia/fonts.scss";
@import "../magnolia/magnolia-icons.scss";
@import "page-editor-colors.scss";

/* ---------------------------
 * Edit bars definitions
 * ---------------------------
 */

/*
 * This class should be added to all injected div elements, instead of tweaking each element individually.
 * Makes it easier to maintain and all subsequent classes should only declare styles they actually use.
 */
.mgnlEditor, .mgnlEditor div {
  float: none !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent none no-repeat !important;
  outline: 0 !important;
  /* Render bars always on top = z-index + position relative to make z-index work */
  position: relative !important;
  z-index: 65535 !important;
}

a.disabled:hover {
  cursor: default !important;
}

/*
 * General appearance of edit bar.
 */
div.mgnlEditorBar {
  /* Change the box model to include borders and paddings in the width and height set. */
  /* Allows here for a more intuitive handling of place holder heights and widths. */
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
  box-sizing: border-box !important;         /* IE 8+ */
  height: 25px !important;
  /* vertical paddings minus borders -1. "-1" to make sure that FF properly align labels in all cases; for other */
  /* browsers, this has no effect. This only works with single-line labels. */
  background-color: $cp53 !important;
  color: $cp50 !important;
  text-transform: uppercase !important;
  margin: 0 0 2px 0 !important;
  font-family: DINWebPro, Verdana, sans-serif !important;
  font-size: 12px !important;
  clear: both !important;
}

div.mgnlEditorBar.area.init {
  background-color: $cp51 !important;
  color: $cp54 !important;
}

/* Selected Item (focus) */
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.focus,
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.focus,
div.mgnlEditorBar.area.focus,
div.mgnlEditorBar.component.focus
{
  background-color: $cp50 !important;
  color: $cp54 !important;
}

/* The parent of the focussed component */
div.mgnlEditorBar.area.childFocus {
  background-color: $cp52 !important;
  color: $cp50 !important;
}

/* Siblings of the selected area */
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component,
div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlEditorBar.component {
  background-color: $cp52 !important;
  color: $cp50 !important;
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveTarget,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveTarget {
  border: 1px solid $cp50 !important;

  div.mgnlEditorBarLabel {
    padding-top: 4px !important;
    padding-left: 15px !important;
  }

  div.mgnlEditorBarButtons {
    height: 23px !important;
    line-height: 23px !important;
    padding-right: 7px !important;
  }
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveOver,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveOver {
  background-color: $cp51 !important;
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox,
div.mgnlEditorBar.area.childFocus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox,
div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox,
div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
  border: 2px dotted $cp52 !important;
  border-top: none !important;
}

/*
 * "Children" of an area - (which are actually any siblings or children of siblings
 * in the dom structure, which contain a mgnlEditorBar component.)
 */
div.mgnlEditorBar.area.focus ~ div.mgnlEditorBar.component,
div.mgnlEditorBar.area.focus ~ * div.mgnlEditorBar.component {
  background-color: $cp51 !important;
  color: $cp54 !important;
}
div.mgnlEditorBar.area.focus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox,
div.mgnlEditorBar.area.focus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
  border: 2px dotted $cp51 !important;
  border-top: none !important;
}

/* "Children" of a component */
div.mgnlEditorBar.component.focus ~ * div.mgnlEditorBar.area,
div.mgnlEditorBar.component.focus ~ div.mgnlEditorBar.area
{
  background-color: $cp51 !important;
  color: $cp54 !important;
}

div.mgnlEditorBar.area {
  background-color: $cp53 !important;
  color: $c40 !important;
  clear: both !important;
  border-radius: 5px 5px 0 0 !important;
}

div.mgnlEditorBar.area.end {
  height: 10px !important;
  margin: 0 0 10px 0 !important;
  border-radius: 0 0 5px 5px !important;
}

/*
 * Component edit bar.
 */
div.mgnlEditorBar.component {
  background-color: $cp53 !important;

  /* See .mgnlEditorBar for an explanation of this */
  color: $cp50 !important;
}

div.mgnlPlaceholder {
  margin: 0 0 2px 0 !important;
  clear: both !important;
}

div.mgnlPlaceholder div.mgnlEditorBar{
  margin: 0 !important;
}

div.mgnlPlaceholder div.mgnlPlaceholderBox {
  border: 2px dotted $cp53 !important;
  border-top: none !important;
  height: 20px !important;
  background-color: white !important;
}

/*
 * Div carrying buttons.
 */
div.mgnlEditorBarButtons {
  float: right !important;
  height: 25px !important;
  line-height: 25px !important;
  overflow: hidden !important;
  padding: 0 8px 0 0 !important;
}


/**
 * Icon classes.
 */
div.editorIcon {
  -webkit-backface-visibility: hidden;
  line-height: inherit;
  padding: 0 0 0 11px !important;
  cursor: pointer !important;
  font-size: 18px !important;
  float: right !important;
}


/*
 * Label on bars showing name of component or area.
 */
div.mgnlEditorBarLabel {
  overflow: hidden !important;
  padding: 5px 0 0 16px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  line-height: 18px !important;
}

/*
 * Level defines the indentation of labels on control bars.
 * Note: sass does not allow the important argument.
 */

div.mgnlLevel-1 {
  margin: 0 !important;
}

div.mgnlLevel-2 {
  margin: 0 0 0 5px !important;
}

div.mgnlLevel-3 {
  margin: 0 0 0 10px !important;
}

div.mgnlLevel-4 {
  margin: 0 0 0 15px !important;
}

div.mgnlLevel-5 {
  margin: 0 0 0 20px !important;
}

div.mgnlLevel-6 {
  margin: 0 0 0 20px !important;
}

div.mgnlLevel-max {
  margin: 0 0 0 20px !important;
}

/* --- End of edit bars definitions --- */


/* -------------------------------------
 *  Drag and drop of component edit bar
 * -------------------------------------
 */

/* drag source */
.mgnlEditorBar.component.moveSource {
  opacity: 0.9 !important;
}

/* selected drop target */
.mgnlEditorBar.component.moveOver {
  background-color: $cp51 !important;
}

div#mgnlEditorMoveDiv {
  position: absolute !important;
  opacity: 0.7 !important;
}

/* --- End of DnD definitions --- */

/* -------------------------------------
 *  Status indicator on bar
 * -------------------------------------
 */
div.mgnlEditorBar.area.mgnlEditorBarStatusIndicator,
div.mgnlEditorBar.component.mgnlEditorBarStatusIndicator {
  margin-left: 28px !important;
}
 
.mgnlEditor .status-indicator {
  height: 100%;
  -webkit-backface-visibility: hidden;
  line-height: 26px;
  width: 25px !important;
  font-size: 26px !important;
  margin-left: -27px !important;
  color: white !important;
  float: left !important;
}

.mgnlEditor .status-indicator.background-color-red {
  background-color: $cp55 !important;
}

.mgnlEditor .status-indicator.background-color-yellow {
  background-color: $cp56 !important;
}
 
 /* --- End of Status indicator on bar definitions --- */