@charset "UTF-8";

/* Color definitions for page editor */
$cp50: #6a9000;
$cp51: #a5bc66;
$cp52: #e1e8cc;
$cp53: #efefef;
$cp54: #fff;
$cp55: #9a3332; /* red-focus */
$cp56: #ffbf28; /* orange-focus */