@charset "UTF-8";

@import "../admincentraltheme/admincentraltheme.scss";
@import "../magnolia/magnolia.scss";

@import "field/linkfield.scss";

@import "dam-app-assets.scss";


@include magnolia;
@include admincentraltheme;
@include dam-app-assets;

@mixin admincentral {
  @include linkfield;
}


.v-app:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}