@charset "UTF-8";

@import "../admincentraltheme/admincentraltheme.scss";
@import "user-menu";
@import "../magnolia/magnolia.scss";
@import "../workbench/workbench.scss";
@import "stubview.scss";

@import "overlay/overlay-admincentral.scss";

@import "../dam-app-assets/dam-app-assets.scss";
@import "../ui-contentapp/ui-contentapp.scss";
@import "../ui-app-pages/ui-app-pages.scss";
@import "../dependencies/dependencies.scss";

@include magnolia;
@include admincentraltheme;
@include workbench;
@include user-menu;

@mixin admincentral {
}

.v-app:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@include overlay-admincentral;
@include dam-app-assets;
@include ui-contentapp;
@include ui-app-pages;
@include dependencies;
@include stubview;