@charset "UTF-8";

@import "../admincentraltheme/admincentraltheme.scss";
@import "../magnolia/magnolia.scss";
@import "../workbench/workbench.scss";

@import "field/linkfield.scss";

@import "../dam-app-assets/dam-app-assets.scss";
@import "../ui-contentapp/ui-contentapp.scss";
@import "../ui-app-pages/ui-app-pages.scss";

@include magnolia;
@include admincentraltheme;
@include workbench;

@mixin admincentral {
  @include linkfield;
}

.v-app:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@include dam-app-assets;
@include ui-contentapp;
@include ui-app-pages;