/*
For Webkit - we use the actual fonts - because this matches the design
because we are also using 3d transforms everywhere to correct other problems.
*/

/* first for IE 4–8 */
@font-face {
    font-family: DINWebPro-Medium;
    src: url("fonts/DINWebPro-Medium.eot");
}
/* then for WOFF-capable browsers */
@font-face {
    font-family: DINWebPro-Medium;
    src: url("fonts/DINWebPro-Medium.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
    font-family: DINWebPro;
    src: url("fonts/DINWebPro.eot");
}
/* then for WOFF-capable browsers */
@font-face {
    font-family: DINWebPro;
    src: url("fonts/DINWebPro.woff") format("woff");
}
/*
body{
    background-color:red;
    background: -webkit-linear-gradient(top, blue 0%, black 100%);
}*/