
/********** LESS CSS Variables **********/

@color-dark-green: #689600;

@color-help-background: #c1d8df;

@color-error: #9a3333;

@color-warning: #ffbf28;

/********** MAGNOLIA MODIFICATIONS to HTML5Boilerplate RESET **********/
ul, ol { padding: 0px; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
  border-radius: 0;
}

a{text-decoration: none;}

/*No dashed lines around anchors */
a, a:focus {
   outline: 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*avoid hot pink selection text*/
::-moz-selection { background: #93BAC6; color: #fff; text-shadow: none; }
::selection { background: #93BAC6; color: #fff; text-shadow: none; }

/*
temporary commented out as otherwise input fields don't work at least on desktops
* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;


    -ms-user-select: none;
    user-select: none;
}
input, select, textarea{
    -moz-user-select: normal;
    -khtml-user-select: normal;
    -webkit-user-select: normal;

    -ms-user-select: normal;
    user-select: normal;
}
*/

.tagline {
    font-family: DINWebPro;
    text-transform:capitalize;
}

html{
    height:100%;
}

body{
  height:100%;
  font-family:Verdana, Helvetica, Arial, sans-serif;
  font-size:14px;
  background-color:#689600;
  background: linear-gradient(top, #689600 0%,#a9be2e 100%);
  background: -moz-linear-gradient(top, #689600 0%, #a9be2e 100%);
  background: -webkit-linear-gradient(top, #689600 0%, #a9be2e 100%);

  -webkit-user-select: none; /* Disable content selection on mobile safari */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable grey box when you click on something */
  -webkit-touch-callout: none;/* Remove Callout Context menu when tapping on something */
}

.btn-submit{
   background:#3e5900;
   color:white;
   border:none;
   font-family:DINWebPro;
   font-size:12px;
   font-weight: bold;
   margin-right: 20px;
   padding: 2px;
   height: 20px;
   width: 70px;
   text-transform: uppercase;
}

.mgnl-form {
  background-color:#689600;
  font-family: DINWebPro;
  height: 154px;
  padding-bottom: 12px;
}

.mgnl-form label{
   float:left;
   display:inline-block;;
   width:100px;
   color:#3e5900;
   font-family:DINWebPro;
   font-size:12px;
   font-weight: bold;
   margin-top:7px;
   text-align: center;
   text-transform: uppercase;
}

.mgnl-form input[type="text"], .mgnl-form input[type="password"] {
   width:276px;
   padding-left:8px;
   margin-bottom:16px;
   border:solid 1px #999;
   border-radius:0px;
   color:#666;
   font-size:12px;
   height:25px;
   background-color:#e6e6e6;
}

.mgnl-form input[type="text"]:focus , .mgnl-form input[type="password"]:focus {
   border:solid 1px #999;
   box-shadow:0px 0px 1px 0px #999;
}

.mgnl-form a{
  color:white;
  font-weight: bold;
  margin-left: 100px;
}

#content {
    position: absolute;
    top: 55px;
    left: 0;
    bottom: 0px;
    right: 0;
    overflow:hidden;
    min-height:410px;
    min-width:768px;
}

.login-panel{
    display:none;
    border:none;
    width:900px;
    height:100%;
    margin-left:-450px;
    position:absolute;
    top:0px;
    left:50%;
    padding:0px;

    z-index:0;
    background: #ffffff;

    /*opacity:0;*/
    overflow:hidden;

    -moz-transform:translate3d(0px, 0px, 0px);
    -webkit-transform:translate3d(0px, 0px, 0px);
}

#login.login-panel{
  width:406px;
  margin-left:-205px;
  padding:0px;
  background:none;
  border:none;
}

#login .header{
  padding:20px 0 10px;
  background: url(../img/logo-magnolia-180-45.png) no-repeat 20px 20px;
  height:45px;
}
#login .header .tag-line{
  float:right;
  color:white;
  margin-top:13px;
}

#login form{
  position:relative;
}

#login-divet{
  background: url(../img/style-divet-login-up-green.png) no-repeat;
  position:absolute;
  top:-10px;
  left:74px;
  width:19px;
  height:10px;
}

.float-clear{
  height:0px;
  clear:both;
}

#footer {
  bottom: 40px;
  font-size: 10px;
  color: #3e5900;
  position: absolute;
  text-align: center;
  width: 100%;
}

#footer a {color: white;}
