# /
/target
/*.iml
/*.ipr
/*.iws
/*.log
/.idea
/.project
/.classpath
/.settings
/.checkstyle

# /ui-admin-central/
/ui-admin-central/target
/ui-admin-central/*.iml
/ui-admin-central/*.ipr
/ui-admin-central/*.iws
/ui-admin-central/*.log
/ui-admin-central/.idea
/ui-admin-central/.project
/ui-admin-central/.classpath
/ui-admin-central/.settings
/ui-admin-central/.checkstyle

# /ui-dialog/
/ui-dialog/target
/ui-dialog/*.iml
/ui-dialog/*.ipr
/ui-dialog/*.iws
/ui-dialog/*.log
/ui-dialog/.idea
/ui-dialog/.project
/ui-dialog/.classpath
/ui-dialog/.settings
/ui-dialog/.checkstyle

# /ui-framework/
/ui-framework/target
/ui-framework/*.iml
/ui-framework/*.ipr
/ui-framework/*.iws
/ui-framework/*.log
/ui-framework/.idea
/ui-framework/.project
/ui-framework/.classpath
/ui-framework/.settings
/ui-framework/.checkstyle
/ui-framework/bin

# /ui-jquerywrapper/
/ui-jquerywrapper/target
/ui-jquerywrapper/*.iml
/ui-jquerywrapper/*.ipr
/ui-jquerywrapper/*.iws
/ui-jquerywrapper/*.log
/ui-jquerywrapper/.idea
/ui-jquerywrapper/.project
/ui-jquerywrapper/.classpath
/ui-jquerywrapper/.settings
/ui-jquerywrapper/.checkstyle

# /ui-magnolia-shell/
/ui-magnolia-shell/target
/ui-magnolia-shell/*.iml
/ui-magnolia-shell/*.ipr
/ui-magnolia-shell/*.iws
/ui-magnolia-shell/*.log
/ui-magnolia-shell/.idea
/ui-magnolia-shell/.project
/ui-magnolia-shell/.classpath
/ui-magnolia-shell/.settings
/ui-magnolia-shell/.checkstyle

# /ui-model/
/ui-model/target
/ui-model/*.iml
/ui-model/*.ipr
/ui-model/*.iws
/ui-model/*.log
/ui-model/.idea
/ui-model/.project
/ui-model/.classpath
/ui-model/.settings
/ui-model/.checkstyle

# /ui-tabsheet/
/ui-tabsheet/target
/ui-tabsheet/*.iml
/ui-tabsheet/*.ipr
/ui-tabsheet/*.iws
/ui-tabsheet/*.log
/ui-tabsheet/.idea
/ui-tabsheet/.project
/ui-tabsheet/.classpath
/ui-tabsheet/.settings
/ui-tabsheet/.checkstyle

# /ui-vaadin-integration/
/ui-vaadin-integration/target
/ui-vaadin-integration/*.iml
/ui-vaadin-integration/*.ipr
/ui-vaadin-integration/*.iws
/ui-vaadin-integration/*.log
/ui-vaadin-integration/.idea
/ui-vaadin-integration/.project
/ui-vaadin-integration/.classpath
/ui-vaadin-integration/.settings
/ui-vaadin-integration/.checkstyle

# /ui-vaadin-widgetset/
/ui-vaadin-widgetset/target
/ui-vaadin-widgetset/*.iml
/ui-vaadin-widgetset/*.ipr
/ui-vaadin-widgetset/*.iws
/ui-vaadin-widgetset/*.log
/ui-vaadin-widgetset/.idea
/ui-vaadin-widgetset/.project
/ui-vaadin-widgetset/.classpath
/ui-vaadin-widgetset/.settings
/ui-vaadin-widgetset/.checkstyle
/ui-vaadin-widgetset/src/main/resources/VAADIN/widgetsets

# /ui-webapp/
/ui-webapp/target
/ui-webapp/*.iml
/ui-webapp/*.ipr
/ui-webapp/*.iws
/ui-webapp/*.log
/ui-webapp/.idea
/ui-webapp/.project
/ui-webapp/.classpath
/ui-webapp/.settings
/ui-webapp/.checkstyle
/ui-webapp/src

# /ui-dummy-app/
/ui-dummy-app/target/
/ui-dummy-app/*.iml
/ui-dummy-app/*.ipr
/ui-dummy-app/*.iws
/ui-dummy-app/*.log
/ui-dummy-app/.idea
/ui-dummy-app/.project
/ui-dummy-app/.classpath
/ui-dummy-app/.settings
/ui-dummy-app/.checkstyle

