@charset "UTF-8";

@mixin linkfield {

   .linkfield {
      width: 505px;
    }

    .linkfield input[type="text"] {
      width: 380px;
    }

    .v-button.remove {
      background-color: transparent;
      color: $c10;
      font-size: 20px;
      padding: 0;
      margin-left: 4px;
    }
}