@charset "UTF-8";
@import "../magnolia/magnolia.scss";

@include magnolia;

@mixin themesampler {

  .main-layout {
    padding: 20px;
    background-color: $c04;
  }

  .title {
  	color: $c05;
  	font-family: DINWebPro;
  	font-size: 4em;
  	font-weight: bold;
  	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  	-moz-user-select: none;
  }

  .v-textarea {
    width: 400px;
    height: 80px;
  }

}