@charset "UTF-8";

@mixin browser {

  & > div > .v-spacing {
    width: 22px;
  }

  .v-verticallayout-workbench {
    padding-top: 20px;
    padding-left: 22px;
  }

  .v-csslayout-actionbar {
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: visible;
  }
}