.mgwt-Slider {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: ew-resize;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.mgwt-Slider-bar {
    position: relative;
    height: 2px;
    background-color: #cccccc;
}

.mgwt-Slider-pointer {
    position: relative;
    height: 6px;
    width: 6px;

    left: -3px;
    top: -2px;

    background-color: #999999;
    border-radius: 6px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mgwt-Slider-pointer:hover {
    background-color: #666666;
}
