@charset "UTF-8";

@mixin workbench {

  .v-verticallayout-workbench {

    overflow: hidden;

    .v-csslayout-toolbar {
      height: 47px;
    }

    div.v-csslayout-view-modes {
      display: inline-block;
      float: left;
      padding-left: 21px;
      padding-bottom: 20px;
    }

    .view-modes .v-nativebutton {
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      border-left: 1px solid $c60;
      color: $c12;
      line-height: 1;
      border-left: 1px solid $c13;
      color: $c11;
      line-height: 1;
      outline: none !important;

      .v-nativebutton-caption {
        text-decoration: none;

        span:first-child {
          padding: 0 14px;
        }
      }

      .view-type-arrow {
        display: none;
        position: absolute;
        width: 1em;
        height: 20px;
        margin-left: 10px;
        font-size: 32px;
        color: $c16;
      }
      .view-type-arrow-thumbnailview {
        color: $c80;
      }

      &:first-child {
        border-left: none;
      }

      &:hover,
      &:focus,
      &.active {
        color: $c80;
      }

      &.active .view-type-arrow {
        display: block;
      }

      &::-moz-focus-inner {
        padding: 0;
        border: 0
      }
    }

  .searchbox {
      float: right;
      position:relative;
      overflow:visible;
    }

    .v-textfield-searchfield {
      float: right;
      width: 254px;
      height: 29px !important;
      margin: 0;
      padding-left:22px !important;
      padding-right: 22px !important;
      border: none;
      font-size: 12px;

      color: $c90;
      background-color: $c80;

      &.v-textfield-prompt {
    background-color: $c16;
        color: $c11;
      }
    }

    .searchbox-clearbutton {
      position: absolute;
      right: -1px;
      top: 2px;
      background: none !important;
      color: $c10;
      padding: 0px;
      margin: 0px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 21px;
      display: block;
      outline: none !important;

      &:hover { color: $c10 !important; }
      &:active { color: $c12 !important; }
    }
    .v-textfield-prompt ~ .searchbox-clearbutton
    {
      display:none;
    }


    .searchbox-icon {
      position: absolute;
      font-size:18px !important;
      left: 3px;
      top: 6px;
      background: none;
      color:$c90;
      padding: 0px;
      margin: 0px;
      width: 15px;
      height: 15px;
    }
    .v-textfield-prompt ~ .searchbox-icon
    {
      color: $c11;
    }

    .searchbox-arrow {
      position: absolute;
      left: 16px;
      top: 21px;
      color:$c80;
      display:none;
    }
    .searchbox.has-content .searchbox-arrow
    {
      display:block;
    }

    .v-horizontallayout-statusbar {
      height: 40px !important;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 6px;
      color: $c10;
      font-size: 11px;
      line-height: 1;

      .v-label {
        font-size: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-user-select: text;
      }

      .v-spacing {
        width: 16px;
      }
    }

  }


  /* COLUMN FORMATTERS */
  .activation-status {
    font-size: 18px;
    text-align: center;

    &.color-green {color: $c40;}
    &.color-yellow {color: $c60;}
    &.color-red {color: $c70;}
  }

  .icon-read-only {
    font-size: 18px;
    text-align: center;
    color: $c10;
  }

  tr.v-selected .icon-read-only {
    color: $c80;
  }

  .datetimefield {
    cursor: pointer;
  }

  .datetimefield .datefield {
    float: left;
  }

  .datetimefield .timefield {
    display: block !important;
    text-align: right;
    padding-left: 5px;
  }

  /* ICON COLOR TUNING FOR WORKBENCH TREES */
  .v-magnolia-table .v-table-icon-element {
    &.icon-node-data {color: $c10;}
    &.icon-folder, &.icon-node-folder {color: $c13;}
    &.icon-folder-l, &.icon-node-folder-l {color: $c12;}
  }

}