.activity-item {
	padding:10px 0px;
	padding-bottom:5px;
	border-bottom:solid 1px #cccccc;
	border-collapse:collapse;
	vertical-align:top;
}

.activity-item .content{
	margin-left:40px;
}

.activity-item .status{
	float:left;
}

.activity-item .comment div {
	padding-top: 8px;
	background: url("img/style-pulse-comment-top.png") 20px 0 no-repeat scroll;
}
.activity-item .comment div:empty {
	padding-top: 0;
	background: none;
}
.activity-item .comment .comment-label {
	padding:10px;
	background-color: #f0f0f0;
}

.activity-item .time {
	color:#cccccc;
	padding:0px;
	padding-top:10px;
	padding-left:10px;
	text-align: right;
}

.activity-item .status {
	float: left;
}