.jcr-browser-context-tool .v-label {
    font-size: 12px;
}

.jcr-browser-context-tool .workspace-selector-label {
    padding-top: 3px;
}

.jcr-browser-context-tool .workspace-selector {
    padding-right: 10px;
}

.jcr-browser-context-tool {
    padding-top: 3px;
}