@charset "UTF-8";

@mixin actionbar {

.v-actionbar {
  position:relative;
  background:$c10;
  color:$c80;
  font-size:14px;
  overflow:hidden;
}
.v-actionbar { width: 36px; }
.v-actionbar-open { width: 270px; }

.v-actionbar.stub {
  background: $c13;
}

.v-actionbar-section {
  padding: 0;
  overflow: auto;
  margin-top: 35px;
}

.v-actionbar-open .v-actionbar-section {
  padding-left: 10px;
}

.v-actionbar .v-actionbar-section-title {
  position: absolute;
  margin-top: -35px;
  height:1.2em;
  padding: 11px 0 6px 4px;
  color:$c50;
  font-family:$heading;
  font-size:15px;
  font-weight:normal;
}
.v-actionbar .v-actionbar-section-title {display:none;}
.v-actionbar-open .v-actionbar-section-title {display:block;}

.v-actionbar-group {
  margin:0;
  padding:5px 0 2px;
  border-bottom:1px solid $c11;
  list-style:outside none;
}

.v-action {
  margin-right: 5px;
  height: 25px;
  text-indent: 33px;
  overflow: hidden;
  cursor: pointer;
}
.v-actionbar .v-action {text-align:center;}
.v-actionbar-open .v-action {text-align:left;}

.v-action.v-disabled {opacity:0.4;}
.v-action.v-disabled:hover {cursor:default;}
.v-action.v-disabled:hover {color:$c80;}

.v-action:focus, .v-action.v-disabled:focus {
  outline: none;
}

.v-action .v-icon {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  text-indent: -29px;
  vertical-align: top;
}

.v-action .v-text {
  font-family:$heading-light;
}
.v-actionbar .v-action .v-text {display:none;}
.v-actionbar-open .v-action .v-text {display:inline;}

.v-action:hover {color:$c50;}
.v-action.mousedown:hover {color:$c80;}

.v-action .v-flyout-indicator {display:none;}

.v-actionbar-toggle {
  position:absolute;
  top:0;
  right:0;
  font-size:16px;
  cursor:pointer;
}

.v-actionbar-toggle-icon {
  display:block;
  width:1em;
  height:1em;
  padding:10px;
  background-image:url("img/actionbar-toggle-open.png");
  background-position:11px center;
  background-repeat:no-repeat;
}

.v-actionbar-toggle-icon.open {
  background-image: url("img/actionbar-toggle-close.png");
}
.stub .v-actionbar-toggle-icon{
  display:none;
}
.stub .v-actionbar-toggle{
  display:none;
}

.v-actionbar-section.preview {
  position:absolute;
  left:0;
  right:0;
  bottom:0px;
  display:block;
  max-height:194px;
  margin: 0;
  padding: 6px 10px 0;
  overflow:hidden;
  background-color:$c91;
  text-align:center;
  line-height: 200px;
}

.preview img {
  vertical-align: middle;
  max-height: 160px;
  max-width: 240px;
}

.v-actionbar .v-actionbar-section.preview {display:none;}
.v-actionbar-open .v-actionbar-section.preview {display:block;}

.v-actionbar-section.preview .v-actionbar-section-title {
  margin-top: -102px;
  text-align:left;
}

/*********************** TABLET STYLES ***/

.tablet .v-actionbar {
  width:70px;
  background:none;
  font-size:12px;
  margin-top:18px;
  padding-top:0;
  overflow: visible;
}

.tablet .v-actionbar-section {padding:0;}
.tablet .v-actionbar-section-title {display:none;}
.tablet .v-actionbar-section.preview {display:none;}

.tablet .v-actionbar-group {border:none;}

.tablet .v-action {
  position:absolute;
  right:0;
  width:70px;
  height:78px;
  margin-right:0;
  background:$c10;
  border-width:2px 0 2px 2px;
  border-style:solid;
  border-color:$c15;
  line-height:inherit;
  text-align:center;
  text-indent:0;
  z-index:10;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.tablet .v-action.v-disabled {opacity:1;}
.tablet .v-action.v-disabled > * {opacity:0.4;}

.tablet .v-action.hover {color:$c10; background-color:$c15;}

.tablet .v-action .v-icon {
  text-indent: 0;
  font-size: 32px;
  margin-top: 8px;
}

.tablet .v-action img.v-icon {top:7px;}

.tablet .v-action .v-text {
  position:absolute;
  left:4px;
  right:4px;
  bottom:5px;
  line-height:1;
}
.tablet .v-actionbar .v-action .v-text {display:inline;}

.tablet .v-action .v-flyout-indicator {
  display: inline;
  left: 2px;
  bottom: 0px;
  position: absolute;
}

.tablet .v-actionbar-toggle {
  position:absolute;
  width:70px;
  height:40px;
  margin-top:2px;
  background-color:$c10;
}

.tablet .v-actionbar-toggle-icon {
  float:right;
  width:20px;
  height:20px;
}

.tablet .v-action.flyout {
  background-image: url("img/actionbar-tablet-flyout-toggle-open.png");
  background-position: 4px 19px;
  background-repeat: no-repeat;
}

.tablet .v-actionbar-group.open .v-action.flyout {
  background-image: url("img/actionbar-tablet-flyout-toggle-close.png");
}

.tablet .v-actionbar .col-0 {z-index:100;}

.tablet .v-actionbar-group.open .col-1 {right:72px;}
.tablet .v-actionbar-group.open .col-2 {right:144px;}
.tablet .v-actionbar-group.open .col-3 {right:216px;}
.tablet .v-actionbar-group.open .col-4 {right:288px;}
.tablet .v-actionbar-group.open .col-5 {right:360px;}
.tablet .v-actionbar-group.open .col-6 {right:432px;}
.tablet .v-actionbar-group.open .col-7 {right:504px;}
.tablet .v-actionbar-group.open .col-8 {right:576px;}

.tablet .v-actionbar .row-0 {top:0;}
.tablet .v-actionbar .row-1 {top:80px;}
.tablet .v-actionbar .row-2 {top:160px;}
.tablet .v-actionbar .row-3 {top:240px;}
.tablet .v-actionbar .row-4 {top:320px;}
.tablet .v-actionbar .row-5 {top:400px;}
.tablet .v-actionbar .row-6 {top:480px;}
.tablet .v-actionbar .row-7 {top:560px;}


/* Action Popup */

.popupContent .v-context-menu {
  box-shadow:4px 4px 10px $c91;
  background:$c10;
  border: solid 1px $c11;
  padding-top: 5px;
  padding-bottom: 2px;
}

.popupContent .v-context-menu .v-context-menu-item-basic,
.popupContent .v-context-menu .v-context-menu-item-basic-submenu {
  background:$c10;
  color:$c80;
  padding-left:10px;
  font-size:14px;
  font-family:$heading-light;
  height: 24px;
  line-height: 23px;
}

.popupContent .v-context-menu .v-context-menu-item-basic:focus,
.popupContent .v-context-menu .v-context-menu-item-basic-submenu:focus,
.popupContent .v-context-menu .v-context-menu-item-basic-open {
  background:$c10;
  color:$c50;
}

.popupContent .v-context-menu .v-context-menu-item-basic.v-context-menu-item-disabled:hover,
.popupContent .v-context-menu .v-context-menu-item-basic-submenu.v-context-menu-item-disabled:hover {
  background:$c10;
}

.popupContent .v-context-menu .v-context-menu-item-basic-text {
  height: auto;
  line-height: inherit;
  padding-left: 0;
  white-space: nowrap;
}

.popupContent .v-context-menu .v-context-menu-item-basic-icon-container {
  border: none;
  font-size: 20px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin-right: 9px;
}

.popupContent .v-context-menu .v-context-menu-item-basic-icon-container .v-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: none;
  padding: 0;
}

.popupContent .v-context-menu .v-context-menu-item-basic.v-context-menu-item-separator {
  border-bottom: 1px solid $c11;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

}
