@import "actionbar.scss";
@import "app-preloader.scss";
@import "applauncher.scss";
@import "dialog.scss";
@import "overlay.scss";
@import "favorites.scss";
@import "form.scss";
@import "media-editor.scss";
@import "pulse.scss";
@import "shell.scss";
@import "shellmessage.scss";
@import "splitfeed.scss";
@import "table.scss";
@import "tabsheet.scss";
@import "thumbnail-layout.scss";
@import "smallapp.scss";
@import "uploadfield.scss";


@mixin admincentraltheme {
  @include actionbar;
  @include app-preloader;
  @include applauncher;
  @include dialog;
  @include overlay;
  @include favorites;
  @include form;
  @include media-editor;
  @include pulse;
  @include tabsheet;
  @include shell;
  @include shellmessage;
  @include splitfeed;
  @include table;
  @include thumbnail-layout;
  @include smallapp;
  @include smallapplayout;
  @include smallappactions;
  @include uploadfield;

  body{
      -webkit-user-select: none; /* Disable content selection on mobile safari */
      -webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable grey box when you click on something */
      -webkit-touch-callout: none;/* Remove Callout Context menu when tapping on something */
  }

  body{
    background-color:#77a42f;
    background: linear-gradient(top, #77a42f 0%,#a9be2e 100%);
    background: -moz-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
    background: -webkit-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
    height: 100%;
  }


  .clearfix:after { content: ""; display: table; clear: both; }


  /*END OF APP LAUNCHER RELATED STYLES*/


  /*AdminCentral module styles */
  button.btn-dialog-selectCallBack {
    background: none repeat scroll 0px 0px $c40;
    margin-left:10px;
    float: right;
  }

  /*TwinCol styles*/

  .v-select-twincol {
    font-size: 12px;
  }

  .v-select-twincol-buttons {
    padding: 0 4px;
    width: 53px !important;
  }

  .v-select-twincol-options,
  .v-select-twincol-selections {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid $c14;
  }

  .v-select-twincol-buttons .v-button {
    width: 24px;
    margin-bottom: 4px;
  }

  .v-select-twincol-buttons .v-button-wrap {
    background: none !important;
  }
  /*a bit hackish -  right caption is positioned absolutely whereas left caption is floating left */
  .v-select-twincol-caption-right {
      color: $c10;
  }

  .v-select-twincol-caption-left {
      color: $c10;
  }

  input.v-textfield-readonly, textarea.v-textarea-readonly {
      background-color: $c15 !important;
  }

  .cke_contents {
    height: 180px;
  }

  .v-tooltip {
    .v-tooltip-text {
      background-color: #d1dfb2;
      width: auto;
      height: auto;
      padding: 5px;
      font-size: 12px;
      font-family: Verdana, sans-serif;
      text-align: left;
      color: #000;
      -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.65);
      -moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.65);
      box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.65);
    }

    .v-tooltip-text:after {
      position: absolute;
      border-style: solid;
      border-color: transparent transparent #D1DFB2;
      border-left: 0px solid transparent !important; /*right triangle trick*/
      border-width: 10px;
      content: "";
      height: 0;
      left: 0;
      top: -20px;
      width: 0;
    }

    .v-errormessage {
      display: none;
    }
  }

  /* Vaadin 7.1.11 fixed issue with slow scrolling on Firefox, but we use Vaadin 7.1.7.
  So this is hot fix which can be removed after updating to Vaadin 7.1.11. see MGNLUI-2670 */
  /* Set font-size in order to make Firefox scrolling better #11353 */
  .v-ff & .v-scrollable {
    font-size: 16px;
  }

  .wai-aria-element {
    position: absolute;
    opacity: 0;
    // IE-8
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
