@charset "UTF-8";

@mixin app-preloader {

.v-viewport.v-app-preloader {
	top:60px;
}

.v-preloader {
    text-align:center;
    padding-top:70px;
}

.v-preloader .v-caption {
	padding-top:10px;
    color:$c12;
    font-family:$heading;
    font-size:14px;
    line-height:32px;
    text-transform:uppercase;
    width:300px;
}

/* MAGNOLIA LOADING SPINNER ICON */

.spinner-icon {
	font-size:24px;
	color:$c12;
	line-height:1;
	height:1em;
	cursor:default;
}

.spinner-icon .icon {
	        animation-duration:2s;
	   -moz-animation-duration:2s;
	-webkit-animation-duration:2s;
	        animation-name:spin;
	   -moz-animation-name:spin;
	-webkit-animation-name:spin;
	        animation-iteration-count:infinite;
	   -moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
    display:block;
    height:0;
}

.spinner-icon .icon-spinner-1 {animation-delay:0;      -moz-animation-delay:0;      -webkit-animation-delay:0;}
.spinner-icon .icon-spinner-2 {animation-delay:0.125s; -moz-animation-delay:0.125s; -webkit-animation-delay:0.125s;}
.spinner-icon .icon-spinner-3 {animation-delay:0.25s;  -moz-animation-delay:0.25s;  -webkit-animation-delay:0.25s;}
.spinner-icon .icon-spinner-4 {animation-delay:0.375s; -moz-animation-delay:0.375s; -webkit-animation-delay:0.375s;}
.spinner-icon .icon-spinner-5 {animation-delay:0.5s;   -moz-animation-delay:0.5s;   -webkit-animation-delay:0.5s;}
.spinner-icon .icon-spinner-6 {animation-delay:0.625s; -moz-animation-delay:0.625s; -webkit-animation-delay:0.625s;}
.spinner-icon .icon-spinner-7 {animation-delay:0.75s;  -moz-animation-delay:0.75s;  -webkit-animation-delay:0.75s;}
.spinner-icon .icon-spinner-8 {animation-delay:0.875s; -moz-animation-delay:0.875s; -webkit-animation-delay:0.875s; height:1em;}

@keyframes spin {
	0% {color:$c12;}
	1% {color:$c80;}
	50% {color:$c80;}
	51% {color:$c12;}
}

@-moz-keyframes spin {
	0% {color:$c12;}
	1% {color:$c80;}
	50% {color:$c80;}
	51% {color:$c12;}
}

@-webkit-keyframes spin {
	0% {color:$c12;}
	1% {color:$c80;}
	50% {color:$c80;}
	51% {color:$c12;}
}

}
