@charset "UTF-8";

@mixin applauncher {

.v-app-launcher {
  color: $c91;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 77px;
  width: 740px;
  min-height: 0px;
}

.app-list {
  margin-top: 20px;
  overflow: visible;
}

.item {
  background-color: $c40;
  color: $c80;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: DINWebPro;
  font-size: 12px;
  height: 78px;
  margin: 0 2px 2px 0;
  overflow: visible;
  position: relative;
  text-align: center;
  width: 78px;
  -moz-user-select: none;

  &.hover {
    background-color: $c30 !important;
    color: $c80 !important;
  }
}

.item.section {
  cursor: default;
  font-size: 14px;
  text-align: left;
  color: $c80;
  background-color: $c30;

  &.hover {
    background-color: $c41 !important;
    color: $c80 !important;
  }

  .label, .sectionLabel {
    display: inline-block;
    max-height: 56px;
    max-width: 64px;
    overflow: hidden;
    padding: 9px 0 0 10px;
    text-transform: uppercase;
  }

  .wordwrap {
    word-wrap: break-word;
  }
}

.v-app-launcher .permanent-app-scroll-panel {
    bottom: 170px;
    width: 100%;
    top: 0px;
}

.v-app-launcher .permanent-app-scroll-panel.permanent-app-group-border-top {
    border-top: solid 1px $c30;
}

.v-app-launcher .permanent-app-scroll-panel.permanent-app-group-border-bottom {
    border-bottom: solid 1px $c30;
}

.app-list .item .icon {
  font-size: 36px;
  margin-top: 8px;
}

.app-list .label {
  bottom: 8px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  line-height:11px;
}

.app-list.sections {
  bottom: 60px;
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
}

.app-list.temporary {
  bottom: 140px;
  position: absolute;
  overflow: hidden;
}

.app-list.sections .item.section {
  background: none !important;
  border-color: $c30;
  overflow: hidden;

  &.hover {
    border-color: $c41 !important;
  }

  .label,.sectionLabel {
    position: absolute;
    z-index: 1;
  }

}

.item.section .notch {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 39px;
  border-style: solid;
  border-color: inherit;
}

.item.section.closed .notch {
  border-left-color: transparent !important;
  left: -30px;
}

.item.section.open .notch {
  border-bottom-color: transparent !important;
  bottom: -30px;
}

// Styles for hidden elements proposed in http://webaim.org/techniques/css/invisiblecontent/
.hidden-for-aria {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
}
