@charset "UTF-8";

@mixin dialog {

  .dialog-panel {
    width: 720px;
    height: 100%;
    padding: 0;
  }

  .overlay-child.wide {
    padding-left:40px;
    padding-right:40px;
    }


  .overlay-child .dialog-panel {
    margin-top: 2px;
  }

  .v-dialog-layout {
    display: inline-block;
    width: 510px;
    vertical-align: middle;
  }

  .dialog-panel .dialog-content {
    width: 100%;
  }

  .dialog-content .v-shell-tabsheet-scroller {
    position: static !important;
    max-height: 450px;
  }
  .tablet .dialog-content .v-shell-tabsheet-scroller {
    max-height: 385px;
  }
/* Ensure form footer is visible on the iPad */

/*The class name is used for element search - be careful when renaming.
 * @see info.magnolia.ui.vaadin.gwt.client.richtext.TextAreaStretcherConnector.
 */
  .dialog-header {
    background-color: $c10;
    color: $c50;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }

  .dialog-header span {
    color: $c50;
    font-family: $heading;
    font-size: 16px;
  }

  .dialog-header-toolbar {
    float: right;
    padding-right: 12px;
  }

  .dialog-description {
    background-color: $c24;
  }

  .dialog-description span {
    margin-right: 35px;
  }

  .dialog-footer {
    background-color: $c13;
    left: 0;
    right: 0;
  }

  .dialog-header,
  .dialog-description,
  .dialog-error,
  .dialog-footer {
    padding: 10px 16px 10px 16px;
  }
  .dialog-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dialog-description,
  .dialog-error,
  .dialog-content,
  .dialog-footer {
    margin-top: 2px;
  }

  .dialog-footer .v-button,
  .dialog-footer button {
    margin-left: 10px;
    margin-right: 0;
    min-width: 60px;
  }

  /* to make sure button doesn't disappear in dialog after resize caused by validation error */
  .webkit-fix {
    -webkit-transform: translateZ(0);
  }

  .dialog-footer .secondary-actions .v-button,
  .dialog-footer .secondary-actions button {
    margin-left: 0;
    margin-right: 10px;
  }

  .dialog-help {
    float: right;
    margin-right: 0px;
  }

  button.btn-dialog-help {
    background: url("img/icon-help.png") no-repeat scroll 1px 1px transparent;
    border: none;
    float: right;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
  }

  .help-message-inline span, .dialog-description {
    font-family: Verdana, Helvetica, sans-serif !important;
    font-size: 12px !important;
  }

  .dialog-panel .field-container {
    color: $c12;
  }

  .action-dialog-help {
    background: url("img/icons/icon-help.png") no-repeat scroll 1px 1px transparent;
    border: none;
    display: inline-block;
    height: 20px;
    margin: 0px 1px 0px 2px;
    padding: 0px;
    vertical-align: middle;
    width: 20px;
  }

/* Light Dialog */

  .light-dialog-panel {
    width: 400px;
    padding: 0;
    color: black;
    border: solid 1px $c14;
    box-shadow: 6px 6px 6px rgba(0,0,0,.4);
    margin-right: 13px; /* so that the box-shadow does not get cut off by a parent with overflow:hidden. */
    margin-bottom: 13px;
    position: absolute;
    top: 33%;
    left: 50%;
    margin-top: -75px;
    margin-left: -206px;

    .dialog-header {
      background-color: transparent;
      height: auto;
      padding-top: 11px;
      padding-bottom: 3px;
      padding-left: 44px;

      .dialog-icon {
        font-size: 30px !important;
        position: absolute;
        top: 4px;
        left: 9px;
      }

      .title {
        color: $c90;
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.4;
      }

      button.btn-form-help { display: none; }

      button.btn-form-wide { display: none; }

      .m-closebutton {
        position: relative;
        color: $c10;
        margin: -6px -9px 0px 7px
      }
    }

    .dialog-content {
      font-size: 12px;
      padding: 0 44px 21px;
      overflow: auto;
      max-height: 200px;

      .v-label { font-size: inherit; }
    }

    .dialog-footer {
      background-color: transparent;
      margin-top: 0;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  .light-dialog-panel .v-button-link .v-button-caption {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: none;
  }
  .light-dialog-panel .v-button-link .v-button-caption:before {
    content: "[";
  }
  .light-dialog-panel .v-button-link .v-button-caption:after {
    content: "]";
  }

  .light-dialog-panel.msginfo { background: $c24; }
  .light-dialog-panel.msgwarn { background: $c64; border-color: $c15; }
  .light-dialog-panel.msgerror { background: $c75; }

/* Notifications */

  .light-dialog-panel.notification-dialog {
    width: 386px;
    padding: 12px 0;
    border: none;
    box-shadow: none;
    position:relative;
    margin: 0;
    top: 0;
    left: 0;

    .dialog-icon {
      font-size: 30px !important;
      position: absolute;
      top: 7px;
      left: 10px;
    }

    .title {
      color: $c90;
      font-family: Verdana, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.4;
    }

    .dialog-content {
      padding-bottom: 2px;
    }

    .v-nativebutton-close {
      background-color: transparent !important;
      border: none;
      position: absolute;
      color: $c10;
      top: 7px;
      right: 9px;
      z-index: 5;
      margin: 0;
      width: 28px;
      height: 28px;
      outline: none !important;

      .m-closebutton { margin: 0; padding: 0; color: inherit; }

      &::-moz-focus-inner {
        border: 0;
      }
    }
  }

  .light-dialog-panel.notification-dialog.msginfo { background: $c23; }

  .notification-dialog >.icon {
    position: absolute;
    top: 4px;
    left: 9px;
  }


/* Lightbox */

  .lightbox-image > img {
    max-width: 720px;
    max-height: 400px;
    cursor: pointer;
  }

  .primary-actions{
    text-align: right;
  }

  .secondary-actions{
    text-align: left;
  }

/* light dialog */

  .light {
    position: absolute;
    top: 74px;
    width: 600px !important;
  }

  .light .dialog-wrapper{
    box-shadow: 7px 7px 10px $c10;
    border: 1px solid $c13;
  }

  .light.choose-dialog {
    top: 0;
  }

  .light .dialog-header,
  .light .dialog-footer,
  .light .v-shell-tabsheet,
  .light .v-form-layout,
  .light.choose-dialog .v-verticallayout-workbench, /*this is for choose dialog*/
  .light .choose-dialog .v-verticallayout-workbench /*this is for move dialog. Yes, I know what you think about it and I concur.*/ {
    background-color: $c14 !important;
  }

  .light .single-tab,
  .light .single-tab * {
    display:none;
  }

  .light .dialog-header span.title {
    color: $c90;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  .light .dialog-header .m-closebutton {
    color: $c10;
  }

  .light .dialog-content,
  .light .dialog-footer,
  .light .form-error  {
    margin-top: 0;
  }

  .light .dialog-footer {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .light button.btn-form-help {
    display: none;
  }

  .light button.btn-form-wide {
    display: none;
  }


  .light .dialog-content .v-shell-tabsheet-scroller {
     /*max-height: 115px !important;*/
  }
}
