@charset "UTF-8";

@mixin media-editor {
  .v-media-editor {
    z-index: 201;
  }

  .v-media-editor .dialog-panel {
    position: relative;
    background-color: $c90;
  }

  .v-media-editor .dialog-header {
    display: none;
  }

  .v-media-editor .dialog-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 40px;
  }

  .v-media-editor .dialog-footer {
    position: absolute;
    bottom: 0px;
    background-color: $c10;
  }

  .v-media-editor .dialog-panel.active-footer > .dialog-footer {
    background-color: $c12;
  }

  .v-media-editor .btn-dialog {
    background-color: $c90;
  }

  .v-media-editor .btn-dialog.default {
    background-color: $c40;
  }

  .v-media-editor {
    color: $c80;
  }

  .v-media-editor .v-label {
    font-size: 13px;
    padding-top: 5px;
  }

  .v-media-editor .v-nativebutton {
    font-family: $heading;
    font-size: 12px;
    font-weight: bold;
    background: none repeat scroll 0px 0px $c10;
    border: none;
    color: $c80;
    cursor: pointer;
    padding: 4px 12px;
    text-transform: uppercase;
  }

  .v-media-editor .v-nativebutton:hover, .v-media-editor .v-nativebutton:focus, .v-media-editor .v-nativebutton-active {
    color: $c80;
  }
  .v-media-editor .v-nativebutton::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .v-media-editor .v-nativebutton-caption {
    text-decoration: none;
  }
  .v-media-editor .v-nativebutton.rotate-left {
  }

  .v-media-editor .image-media-field {
    overflow: auto;
  }
/*Scalable image styles*/
  .v-media-editor .scale-to-fit, .scale-to-fit img {
    max-width: 100%;
    max-height: 100%;
  }
}
