@charset "UTF-8";

@mixin overlay {

.ui-overlapping-ck-editor {
  z-index: 180;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    text-align: center !important;
    overflow: hidden;
}

.overlay-child {
  display: inline-block !important;
  position: relative;
}


/* Modality levels modality-non-modal, modality-light, modality-strong */
.overlay.modality-non-modal{
    height:0px;
    overflow:visible;
}

.overlay.modality-strong .modal-curtain
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:$c90;
    opacity:0.8;
    filter:alpha(opacity = 80);
}

.cke_dialog_background_cover {
    background-color: $c90 !important;
}

.overlay.modality-light .modal-curtain{
    display: none;
}

.v-panel-content-overlay-child {
  overflow: hidden;
}

}