@charset "UTF-8";

@mixin shellmessage {

.v-shell-notification {
  width: 100%;
  position: absolute;
  z-index: 1200;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-align: center;
}

.v-shell-notification.info {
  background: none repeat scroll 0 0 #D1D8DF;
  bottom: 0;
}

.v-shell-notification.warning {
  background: none repeat scroll 0 0 $c60;
  bottom: 0;
}

.v-shell-notification.error {
  background: none repeat scroll 0 0 $c70;
  color: white;
  top: 60px;
}

.fullscreen .v-shell-notification.error{
  top:0px;
}

.v-shell-notification .header {
  height: 25px;
}

.v-shell-message-detail {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.v-shell-notification .close {
  background: url("img/icon-close-16.png")no-repeat scroll 4px 4px transparent;
  vertical-align: text-top;
  display: inline-block;
  border: medium none;
  height: 20px;
  width: 20px;
  float: right;
  //padding: 2px;
  padding: 2px 4px;
  margin: 0;
  right: 0;
  top: 0;
}

.v-shell-notification .close-error {
  background: url("img/icon-close-white-16.png")no-repeat scroll 2px 4px transparent;
}

.v-shell-notification .details-expander {
  margin-left: 20px;
}
.v-shell-notification b, .v-shell-notification span {
  padding-top: 2px;
  vertical-align: middle;
}
.v-shell-notification span {
  margin-right: 5px;
}

.v-shell-notification span.link {
  cursor: pointer;
}


.badge-icon {
  background-color:$c40;
  border-width:0;
  border-style:solid;
  border-color:$c80;
  border-radius:0.7em;
  color:$c80;
  display:inline-block;
  font-family:DINWebPro, sans-serif;
  font-size:16px;
  height:1em;
  min-width:1em;
  text-align:center;
  vertical-align: middle;
}

.badge-icon .text {
  font-size:0.75em;
  line-height:1.5em;
  vertical-align: top;
  padding:0 0.2em;
}

.btn-shell .badge-icon {
  position: absolute;
  top: 32px;
  left: 36px;
}

.composite-icon {
  font-size: 24px;

  .icon:not(:first-child) {
     margin-left: -1em;
  }

  &.help-icon {
    .icon-shape-circle-plus { color: $c80; }
    .icon-shape-circle { color: $c20; }
    .icon-help-mark { color: $c80; }
  }
  &.info-icon {
    .icon-shape-circle-plus { color: $c80; }
    .icon-shape-circle { color: $c20; }
    .icon-info_mark { color: $c80; }
  }
  &.warning-icon {
    .icon-shape-circle-plus { color: $c10; }
    .icon-shape-circle { color: $c60; }
    .icon-warning-mark { color: $c10; }
  }
  &.error-icon {
    .icon-shape-triangle-plus { color: $c80; }
    .icon-shape-triangle { color: $c70; }
    .icon-error-mark { color: $c80; }
  }
}

}
