@charset "UTF-8";

@mixin smallapp {

.small-app {margin:0 auto;}
.small-app .v-label-intro {padding-top:23px; padding-bottom:30px; font-family:Verdana, sans-serif; font-size:12px; color:$c90;}
.small-app-panel {background-color:$c16;}
.small-app-panel .v-csslayout-margin {border-bottom:4px solid $c15;}
.small-app-panel .v-csslayout-margin-top {padding-top:5px;}
.small-app-panel .v-csslayout-margin-right {padding-right:45px;}
.small-app-panel .v-csslayout-margin-bottom {padding-bottom:5px;}
.small-app .v-formlayout label,
.small-app .v-formlayout-captioncell {font-family:Verdana, sans-serif; font-size:12px; color:$c10;}
.small-app .v-formlayout-captioncell {width:158px; min-width:158px; padding:0; vertical-align:top;}
.small-app .v-formlayout-captioncell .v-caption-required,
.small-app .v-formlayout-captioncell .v-caption-required .v-required-field-indicator {color:$c90;}
.small-app .v-formlayout-spacing {border-spacing:0 20px;}
.small-app .v-formlayout-spacing .v-formlayout-captioncell,
.small-app .v-formlayout-spacing .v-formlayout-errorcell {padding-top:2px;}
.small-app .v-formlayout-spacing .v-formlayout-contentcell {padding-top:0; padding-right:40px;}
.small-app .v-select-optiongroup .v-select-option.v-radiobutton label {padding-left:4px;}
.small-app .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {padding-right:40px;}
.small-app .v-select-optiongroup-vertical .v-select-option {padding-top:7px;}
.small-app .v-select-optiongroup-vertical .v-select-option:first-child {padding-top:0;}
.small-app .v-horizontallayout-buttons .v-horizontallayout-spacing-on {padding-left:12px;}

}

@mixin smallapplayout {

  .v-verticallayout-smallapp {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
  }

  .v-label-description {
    padding-bottom: 30px;
  }

  .v-csslayout-smallapp-sections {
    overflow: auto;
    background-color: $c16;
  }

  .smallapp-section {
    border-bottom: 5px solid $c15 !important;
  }

  .v-csslayout.smallapp-section {
    .section-title {
      margin-top: 12px;
      margin-left: 152px;
    }

    .v-shell-tabsheet {
      .single-tab {
        display: none;

        & + .v-shell-tabsheet-scroller .v-shell-tab > .v-form-layout {
          margin-top: 0;
        }
      }

      .v-form-field-label {
        color: $c11;
      }
    }
  }

}

@mixin smallappactions {

  .v-csslayout-smallapp-actions {
    position: relative;
    left: 152px;
  }

  .v-button-smallapp {
    min-width: 120px;
    margin-right: 20px;
  }
}