@charset "UTF-8";

@mixin tabsheet {

/* color definitions */
.v-shell-tabsheet {background-color:$c15;}
.v-shell-tabsheet .nav {background-color:$c13; border-color:$c12;}
.v-shell-tabsheet .nav li {border-color:$c12; color:$c11;}
.v-shell-tabsheet .nav li:hover {background-color:$c12; color:$c10;}
.v-shell-tabsheet .nav li:active {background-color:$c15;}
.v-shell-tabsheet .nav li.show-all {border-color:transparent;}
.v-shell-tabsheet .nav li.active {background-color:$c15; border-color:$c12; color:$c10;}

.v-shell-tabsheet-light {background-color:$c80;}
.v-shell-tabsheet-light .nav {background-color:$c15; border-color:$c13;}
.v-shell-tabsheet-light .nav li {border-color:$c13;}
.v-shell-tabsheet-light .nav li:hover {background-color:$c13; color:$c10;}
.v-shell-tabsheet-light .nav li:active {background-color:$c80;}
.v-shell-tabsheet-light .nav li.active {background-color:$c80; border-color:$c13;}

.dialog-panel .v-shell-tabsheet .nav li.active {color:$c90;}

.v-shell-tabsheet-logo {
    position: absolute;
    float: left;
    display: inline-block;
    text-align: center;
    width: 17px;
    height: 17px;
    top: 4px;
    left: 23px;
    line-height: 17px;
    font-size: 16px;
    color: $c80;
    z-index: 10;
}

.v-app-preloader > .nav {
    margin-left: 30px !important;
}

.v-shell-tabsheet-logo + .nav li:first-child {
    padding-left: 46px;
}

.v-shell-tabsheet-scroller {
	position: absolute;
	top: 25px;
	bottom: 0;
	width: 100%;
}

.v-shell-tabsheet-scroller > div {
	height: 100%;
    /*Override relative position set by GWT's core widget in order to allow 'full-form'
      TextAreas.
    */
    position: static !important;
}

.v-shell-tabsheet-tab-wrapper {
	height: 100%;
	width: 100%;
    position: relative;
}

/* tabs */
.v-shell-tabsheet .nav {
    height: 24px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    list-style: none outside;
}

.v-shell-tabsheet .nav li {
    float: left;
    height: 19px;
    margin: 0;
    padding: 3px 8px 2px 16px;
    border-style: solid;
    border-width: 0 1px 0 0;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
}

.v-shell-tabsheet .nav li.show-all {
    float: right;
    border-width: 0 0 0 1px;
}
.v-shell-tabsheet .nav li.show-all .tab-title {
    padding-right: 8px;
}

.v-shell-tabsheet .nav li.active  {
    padding-bottom: 3px;
    cursor: default;
}

/* tab text */
.v-shell-tabsheet .tab-title {
    display:block;
    font-family:DINWebPro;
    font-size: 14px;
    line-height: 22px;
    height:19px;
    max-width:200px;

    padding-right: 40px;
    padding-left: 2px;
    padding-top: 0px;
    margin: -3px;
    margin-top:0px;
    margin-right:4px;
    outline:none;

    background: none;
    border: none;
    color: inherit;

    text-transform:uppercase;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .v-ui:not(.tablet) &:focus:not(:active){
      outline: $c22 solid 2px;
    }
    &:focus{
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }

}


/* close icon */
.v-shell-tab-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  padding: 4px 6px 5px;
  cursor: pointer;
}

.v-shell-tab-close:hover, .v-shell-tab-close:focus {
	opacity:0.6;
}

/* single tab */
.v-shell-tabsheet .single-tab {
	background-color:transparent;
	padding-bottom:1px;
	border-bottom:none;
}

.v-shell-tabsheet .single-tab > li {
	border-right:none;
}

/* shell tabs and notifications */
.v-shell-tab {
	visibility:inherit !important; /* do not show tab content if parent is set to hidden */
}
.v-shell-tab.inactive{
	visibility:hidden;
}

.v-shell-tab-notification {
    background: url("img/message-circle-pulse-tab.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
    height: 22px;
    width: 22px;
    z-index: 1000;
    float: right;
}

.v-shell-tab-error {
	height: 22px;
    width: 22px;

	background: url("img/icons/icon-error-red.png") no-repeat scroll 1px 1px transparent;
	display: inline-block;
    z-index: 1000;
    float: right;
}

.v-shell-tab-notification > span {
	height: 22px;
	width: 22px;
    color: $c80;
    font-size: 12px;
    vertical-align: text-bottom;
    z-index: 4001;
    text-align: center;
}

/* force hiding of iframes inside the tabsheet, when it's inactive. Bug in webkit. */
.v-shell-tabsheet-app.app-inactive iframe {
  display: none;
}

.more-tabs-menu {
    background-color: white;
    font-family: Verdana, sans-serif; 
    font-size: 12px; 
    line-height: 20px; 
    color: #ccc;
    padding:5px 0 ;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    position: relative;
}

.more-tabs-menu:after {
    right: 100%;
    top: 14px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -10px;
}

.more-tabs-menu table tr td.menu-item {
    padding: 0 25px 0px 10px;
    cursor: pointer;
}

.more-tabs-menu table tr td.menu-item:hover {
    background-color: #efefef;
}

.more-tabs-menu table tr td.menu-item.inactive {
    color: #000;
}
}

