@charset "UTF-8";

@mixin thumbnail-layout {

  .slider-panel .icon {
    margin-right: 7px;
  }

  .thumbnail-layout {
    position: relative;
    background-color: $c80;
  }

  .thumbnail-layout .thumbnail-scroller {
  }

  .thumbnail-image {
    display: block;
    margin: auto;
  }

  .thumbnail {
    border: 1px solid $c16;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    float: left;
    text-align: center;
  }

  .thumbnail .icon {
    font-size: inherit !important;
  }

  .thumbnail.selected {
    background-color: $c50;
  }

  .thumbnail:hover {
    border: 1px solid $c50;
  }

/* Contact info styles */
  .thumbnail-info ul {
    list-style-type: none;
    padding-left: 0;
    width: 220px;
  }
  .thumbnail-info ul > li {
    margin-bottom: 2px;
    margin-right: 3px;
  }

  .thumbnail-info ul > li span.left {
    font-weight: bold;
  }
  .thumbnail-info ul > li span.right {
    float: right;
  }

}