@charset "UTF-8";

@mixin uploadfield {

.upload-image-field {
  height: auto;
}

.upload-image-field .v-csslayout-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.upload-image-field  .v-ddwrapper {
  padding:0;
}

.upload-image-field  .v-ddwrapper.v-ddwrapper-over, .in-progress {
  background-color: $c24 !important;
  border: 1px solid $c20 !important;
}

.upload {
  background-color: $c15;
  height: 118px;
  border: 1px solid $c12;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.v-upload-immediate{
	overflow:visible;
}
.v-upload-immediate input{
    display:none;
}

.in-progress {
  height: 118px;
}

.done {
  height: 192px;
}

.initial {
  height: 118px;
}

.file-details {
  top: 20px;
  left: 190px;
  position: absolute;

  .v-caption {
    display: inline-block;
  }

  .v-label {
    font-size: 12px;
  }
}

.preview-image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.file-preview {
  font-size: 100px;
}

.file-preview-area {
  position: absolute;
  left: 20px;
  top:20px;
  background-color: $c14;
  text-align: center;
  line-height: 145px;
}

.upload-image-field .buttons {
  bottom:20px;
  left: 190px;
  width: 315px;
  padding: 0;
  position: absolute;
}

.v-horizontallayout-buttons .v-spacing {
    width: 10px;
}

.initial .v-button.cancel {
  width: 80px !important;
  margin-top: 2px !important;
}

.initial .v-button {
  margin-top:45px;
  margin-left:20px;
}

.upload-text {
  width: auto;
  position: absolute;
  top: 46px;
  left: 240px;
  color: $c12
}

.upload-text em {
  color: black ;
  font-style: normal;
}

/* Progress indicator styles*/
.uploading-progress-indicator {
    padding: 0;
    height: auto;
}

.uploading-progress-indicator .v-progressbar-wrapper, .v-progressbar-indicator {
    background: #94B9C6;
    height: 22px;
    border:none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

  .uploading-progress-indicator .v-progressbar {
    border-right: 30px solid #c9dde1
  }

.uploading-progress-indicator  .v-progressbar-wrapper .v-progressbar-indicator {
    background: $c10;
 }

.uploading-progress-indicator .uploading-file-progress {
    color:white;
    font-size:11px;
    position: absolute;
    left: 50%;
    top: 3px;
}

.upload-image-field button.cancel {
    background: url("img/icon-close-16.png") no-repeat scroll 0px 0px transparent;
    position: absolute;
    top: 50px;
    right: 20px;
    padding:0;
    margin:0;
    height:16px;
    width:16px;
    border: none;
}

.uploading-progress-indicator .uploading-file, .uploaded-file {
    margin-top:10px;
    margin-bottom:18px;
}

.progress-layout {
  position: relative;
}

.direct-upload-progress-indicator > div {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

.direct-upload-progress-indicator {
  height: 600px;
  width: 500px;
}

.v-upload-immediate .v-button {
  width: inherit;
}

}