@charset "UTF-8";

@mixin dialogheader {

  .m-closebutton-dialog {
    float: right;
    margin: -5px -6px 0 7px;
    padding: 6px;
    color: $c50;

    &:hover, &:focus, &:active {
      color: $c52;
    }
  }

}