@charset "UTF-8";

@mixin appsviewport {

  .m-closebutton-app {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px 5px;
    color: $c10;

    &:hover, &:focus, &:active {
	    opacity: 0.6;
    }
  }

}