@charset "UTF-8";

@mixin appsviewport {

  .m-closebutton-app {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px 5px;
    color: $c10;
  }

  .m-fullscreen-app {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 3px 5px;
    font-size: 18px;
    color: $c10;
    width: 1em;
    height: 1em;
    cursor: pointer;
    z-index:100;
    outline:0;

    &:hover, &:focus {
	    opacity: 0.6;
    }
  }

}