.v-actionbar {
	margin-top:5px;
	background:#666;
	color:#fff;
	width:270px;
}

.v-actionbar-section {
	padding-left:10px;
}

.v-actionbar-section > header {
	height:28px;
    padding:5px 5px 5px 8px;
}

.v-actionbar-section-title {
	margin:0;
	color:#aabf2f;
	font-family:DINWebPro,Verdana;
    font-size:16px;
    font-weight:normal;
}

.v-actionbar-group {
	margin:0;
	padding:6px 0;
	border-bottom:1px solid #888;
	list-style:outside none;
}

.v-action {
    position:relative;
	width:100%;
	height:30px;
	padding:0;
	margin:0;
	border:none;
	background:none;
    cursor:pointer;
    font-size:18px;
    text-align:left;
}

.v-action.v-disabled {
	opacity:0.4;
}

.v-action.v-disabled:hover {
	cursor:default;
}

.v-action.v-disabled:hover .v-text {
	color:#fff;
}

.v-action .v-icon {
    position:absolute;
	top:6px;
	left:8px;
    height:17px;
}

.v-action .v-text {
	position:absolute;
    top:4px;
	left:46px;
	color:#fff;
	font-family:DINWebPro,Arial;
    font-size:16px;
}

.v-action:hover .v-text {
	color:#aabf2f;
}

.v-actionbar-preview .v-verticallayout-margin {
	padding-left:8px;
	padding-right:18px;
	padding-bottom:8px;
}