@import "actionbar.scss";
@import "app-preloader.scss";
@import "applauncher.scss";
@import "dialog.scss";
@import "overlay.scss";
@import "favorites.scss";
@import "form.scss";
@import "media-editor.scss";
@import "pulse.scss";
@import "shell.scss";
@import "shellmessage.scss";
@import "splitfeed.scss";
@import "table.scss";
@import "tabsheet.scss";
@import "thumbnail-layout.scss";
@import "smallapp.scss";
@import "uploadfield.scss";


@mixin admincentraltheme {
  @include actionbar;
  @include app-preloader;
  @include applauncher;
  @include dialog;
  @include overlay;
  @include favorites;
  @include form;
  @include media-editor;
  @include pulse;
  @include tabsheet;
  @include shell;
  @include shellmessage;
  @include splitfeed;
  @include table;
  @include thumbnail-layout;
  @include smallapp;
  @include uploadfield;

  body{
      -webkit-user-select: none; /* Disable content selection on mobile safari */
      -webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable grey box when you click on something */
      -webkit-touch-callout: none;/* Remove Callout Context menu when tapping on something */
  }

  .v-csslayout-container {
  	overflow: hidden;
  }

  .clearfix:after { content: ""; display: table; clear: both; }


  /*END OF APP LAUNCHER RELATED STYLES*/


  /*AdminCentral module styles */
  button.btn-dialog-selectCallBack {
  	background: none repeat scroll 0px 0px $c40;
  	margin-left:10px;
  	float: right;
  }

  /*TwinCol styles*/

  .v-select-twincol {
    font-size: 12px;
    width: 510px ! important;
  }

  .v-select-twincol-buttons {
    padding: 0 4px;
    width: 53px !important;
  }

  .v-select-twincol-options,
  .v-select-twincol-selections {
    width: 230px !important;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid $c14;
  }

  .v-select-twincol-buttons .v-button {
    width: 24px;
    margin-bottom: 4px;
  }

  .v-select-twincol-buttons .v-button-wrap {
    background: none !important;
  }
  /*a bit hackish -  right caption is positioned absolutely whereas left caption is floating left */
  .v-select-twincol-caption-right {
      color: $c10;
      left: 443px;
      position: absolute;
      width: 200px !important;
  }

  .v-select-twincol-caption-left {
      color: $c10;
      width: 200px !important;
  }

  input.v-textfield-readonly, textarea.v-textarea-readonly {
      background-color: $c15 !important;
  }

  .cke_contents {
  	height: 180px !important;
  }
}
