.app-list {
	clear: both;
    display: block;
    margin-top: 20px;
    overflow: visible;
}

.v-app-launcher {
    color: #444444;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 100px;
}

.item {
    background: none repeat scroll 0 0 #689600;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: DINWebPro;
    font-size: 12px;
    height: 78px;
    margin: 0 2px 2px 0;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 78px;
}

.item.hover{
    background-color:#3f5900 !important;   /* dark green */
    color:white !important;
}

.item.section.hover{
    background-color:#8da924 !important;   /* light green */
    color:white !important;
}

.app-list .item .icon {
    font-size: 36px;
    margin-top: 4px;
}

.app-list .item:not(.section) .label {
    bottom: 8px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    font-weight: bold;
    line-height:11px;

}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.item.section {
    cursor: default;
    font-size: 14px;
    text-align: left;
    color:white;

}

.item.section{
    background-color:#3f5900;   /* dark green */
}

.item.section .label {
    padding-left: 10px;
    padding-top: 10px;
    display: block;
    font-weight: bold;
	text-transform:uppercase;
}

.app-list.sections {
    bottom: 60px;
    position: absolute;
}

.app-list.temporary {
    bottom: 140px;
    position: absolute;
    overflow: hidden;
}

.item.section.closed {
	background-image: url("img/applauncher/style-appslauncher-group-triangle-closed.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.item.section.open {
	background-image: url("img/applauncher/style-appslauncher-group-triangle-open.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* Animation for tiles */
.app-list{
    -moz-perspective:500px;
    -webkit-perspective:500px;
}

/* DUMMY APPS TEASER */
.dummy-app-teaser {
	text-align:center;
	font-family:DINWebPro, sans-serif;
	font-size:2em;
}

.dummy-app-icon {
	text-align:center;
	font-size:300px;
	text-shadow:0 1px 0px #fff, 0 -1px 0px #aaa;
	color:#ccc;
	line-height:1.0;
}