.help-message-inline span, .dialog-description {
  font-family: Verdana, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.v-dialog-layout {
  display: inline-block;
  width:510px;
  vertical-align: middle;
}

.dialog-header,.dialog-footer,.dialog-description {
  padding: 12px 16px 12px 24px;
}

.dialog-description,.dialog-footer,.dialog-content {
  border-top: 2px solid black;
}

.dialog-content {
	top: 40px;
	width:100%;
	bottom: 52px;
	position: absolute;
}

.dialog-header {
  background-color: #666;
  display: block;
  height: 16px;
  color: #AABF2F;
}

.dialog-header span {
  font-family: DINWebPro;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.dialog-description {
  background: none repeat scroll 0px 0px #C1D8DF;
}

.dialog-description span {
  margin-right: 35px;
}

.dialog-panel {
  background: none repeat scroll 0px 0px #E6E6E6;
  border: none;
  padding: 0;
  position: absolute;
  width: 720px;
  z-index:201; /* one more than curtain */
}

.dialog-footer {
  background: none repeat scroll 0px 0px #CCCCCC;
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog-footer-toolbar {
  float:left;
}

.dialog-close,.dialog-help {
  float: right;
  margin-right: 0px;
}

button.btn-dialog {
  font-family: DINWebPro;
  font-size: 12px;
  font-weight: bold;
  background: none repeat scroll 0px 0px #666666;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 4px 12px;
  text-transform: uppercase;
}

button.btn-dialog-commit {
  background: none repeat scroll 0px 0px #689600;
  margin-left:10px;
  float: right;
}

button.btn-dialog-close {
  background: url("img/icon-close-16.png") no-repeat scroll 0px 0px transparent;
  border: none;
  display: inline-block;
  float: right;
  height: 16px;
  margin-left: 13px;
  margin-top: 2px;
  padding: 0;
  width: 16px;
}

button.btn-dialog-close.green {
  background: url("img/icon-close-green-16.png") no-repeat scroll 0px 0px transparent;
}

button.btn-dialog-help {
  background: url("img/icon-help.png") no-repeat scroll 1px 1px transparent;
  border: none;
  float: right;
  height: 20px;
  margin: 0;
  padding: 0;
  width: 20px;
}

.dialog-panel .field-container {
  color: #999;
}

.action-dialog-help {
  background: url("img/icons/icon-help.png") no-repeat scroll 1px 1px transparent;
  border: none;
  display: inline-block;
  height: 20px;
  margin: 0px 1px 0px 2px;
  padding: 0px;
  vertical-align: middle;
  width: 20px;
}

/*
* Forms in Dialog.
*/
.dialog-panel .form-panel {
    width: 720px;
}

.dialog-panel .v-form-layout {
    background-color: #E6E6E6;
}

.dialog-panel .form-panel .v-shell-tabsheet,
.dialog-panel .form-panel .v-shell-tabsheet .nav li.active {
    background-color: #E6E6E6;
}

.dialog-panel input[type="text"].v-form-field, .dialog-panel .v-form-field.v-customcomponent input[type="text"],
.dialog-panel .v-datefield input[type="text"], .dialog-panel textarea.v-form-field {
    border: 1px solid #CCC;
}