@charset "UTF-8";

@mixin dialog {

  .dialog-panel {
    width: 720px;
    height: 100%;
    padding: 0;
  }

  .v-dialog-layout {
    display: inline-block;
    width: 510px;
    vertical-align: middle;
  }

  .dialog-panel .dialog-content {
    width: 100%;
  }

  .dialog-content .v-shell-tabsheet-scroller {
    position: static !important;
    max-height: 450px;
  }
  .tablet .dialog-content .v-shell-tabsheet-scroller {
    max-height: 385px;
  }
/* Ensure form footer is visible on the iPad */

/*The class name is used for element search - be careful when renaming.
 * @see info.magnolia.ui.vaadin.gwt.client.richtext.TextAreaStretcherConnector.
 */
  .dialog-header {
    background-color: $c10;
    color: $c50;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }

  .dialog-header span {
    color: $c50;
    font-family: DINWebPro;
    font-size: 16px;
  }

  .dialog-header-toolbar {
    float: right;
    padding-right: 12px;
  }

  .dialog-description {
    background-color: $c24;
  }

  .dialog-description span {
    margin-right: 35px;
  }

  .dialog-footer {
    background-color: $c13;
    left: 0;
    right: 0;
  }

  .dialog-header,
  .dialog-description,
  .dialog-error,
  .dialog-footer {
    padding: 10px 16px 10px 16px;
  }
  .dialog-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dialog-description,
  .dialog-error,
  .dialog-content,
  .dialog-footer {
    margin-top: 2px;
  }

  .dialog-footer .v-button,
  .dialog-footer button {
    margin-left: 10px;
    margin-right: 0;
    min-width: 60px;
  }

  .dialog-footer .secondary-actions .v-button,
  .dialog-footer .secondary-actions button {
    margin-left: 0;
    margin-right: 10px;
  }

  .dialog-help {
    float: right;
    margin-right: 0px;
  }

  button.btn-dialog-help {
    background: url("img/icon-help.png") no-repeat scroll 1px 1px transparent;
    border: none;
    float: right;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
  }

  .help-message-inline span, .dialog-description {
    font-family: Verdana, Helvetica, sans-serif !important;
    font-size: 12px !important;
  }

  .dialog-panel .field-container {
    color: $c12;
  }

  .action-dialog-help {
    background: url("img/icons/icon-help.png") no-repeat scroll 1px 1px transparent;
    border: none;
    display: inline-block;
    height: 20px;
    margin: 0px 1px 0px 2px;
    padding: 0px;
    vertical-align: middle;
    width: 20px;
  }

/* Light Dialog */

  .light-dialog-panel {
    width: 400px;
    padding: 0;
    color: black;
    border: solid 1px $c14;
    box-shadow: 6px 6px 6px rgba(0,0,0,.25);
    margin: 0px 13px 13px 0px; /* so that the box-shadow does not get cut off by a parent with overflow:hidden. */
  }

  .light-dialog-panel {
    .dialog-header { background-color: transparent; }
    button.btn-form-help { display: none; }
    .m-closebutton {
      position: relative;
      color: $c10;
      margin: -5px -9px 0px 7px
    }
  }

  .light-dialog-panel .dialog-content {
    font-size: 12px;
    padding: 0 44px;
    overflow: auto;
    max-height: 200px;
    position: relative;
    top: -26px;
  }

  .light-dialog-panel .dialog-footer {
    background-color: transparent;
    margin-top: 0;
    padding-bottom: 9px;
  }

  .light-dialog-panel .title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .dialog-icon {
    font-size: 30px !important;
    position: absolute;
    top: -7px;
    left: 9px;
  }

  .light-dialog-panel button,
  .light-dialog-panel .btn-default,
  .light-dialog-panel .btn-other {
    color: white;
  }

  .light-dialog-panel .v-button-link .v-button-caption {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: none;
  }
  .light-dialog-panel .v-button-link .v-button-caption:before {
    content: "[";
  }
  .light-dialog-panel .v-button-link .v-button-caption:after {
    content: "]";
  }

  .light-dialog-panel.msginfo { backround: $c24; }
  .light-dialog-panel.msgwarn {
    background: $c64;
    border-color: $c15;
  }

  .light-dialog-panel.msgerror { background: $c75; }

/* Notifications */

  .notification-dialog {
    vertical-align: top !important;
    padding: 12px 0;
    text-align: left;
    width: 400px;
    position:relative;
  }

  .light-dialog-panel.notification-dialog .dialog-content {
    top: -3px;
  }

  .notification-dialog >.icon {
    position: absolute;
    top: 4px;
    left: 9px;
  }

  .light-dialog-panel.notification-dialog .v-nativebutton-close {
    background-color: transparent !important;
    border: none;
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 5;
    margin: 0;
    width: 28px;
    height: 28px;

    .m-closebutton { margin: 0; padding: 0; }
  }

/* Lightbox */

  .lightbox-image > img {
    max-width: 720px;
    max-height: 400px;
    cursor: pointer;
  }

  .primary-actions{
    text-align: right;
  }

  .primary-actions > * {
    margin-left: 10px;
  }

  .secondary-actions{
    text-align: left;
  }

  .secondary-actions > * {
    margin-right: 10px;
  }
}