@charset "UTF-8";

@mixin dialog {

.detail-view {
    overflow-x: auto;
}

.dialog-panel {
  width:720px;
  padding:0;
}

.dialog-panel.lightdialog{
	background-color: lightblue; /* TODO: CLZ use real color */
	width:400px;
	text-align:center;
}


.v-dialog-layout {
  display: inline-block;
  width:510px;
  vertical-align: middle;
}

.dialog-content {
    width:100%;
}

.dialog-panel.lightdialog .dialog-content{
    padding:0 24px;
    width:auto;
}


.dialog-content .v-shell-tabsheet-scroller {
    position:static !important;
    max-height:450px;
}
.tablet .dialog-content .v-shell-tabsheet-scroller {max-height:385px;} /* Ensure form footer is visible on the iPad */

.choose-dialog .mgnl-content-view{
    height:300px;
    position:static;
}


.dialog-header {
    background-color:#666;
    color: #AABF2F;
    font-size:15px;
    line-height:15px;
    height:15px;
}

.dialog-panel.lightdialog .dialog-header{
	background-color:transparent;
}
.dialog-panel.lightdialog .dialog-header button.btn-form-help{
	display:none;
}

.dialog-header span {
    color:#aabf2f;
    font-family:DINWebPro;
    font-size:16px;
}

.dialog-header-toolbar {
  float:right;
  padding-right:12px;
}

.dialog-description {
  background-color: #c1d8df;
}

.dialog-description span {
  margin-right: 35px;
}







.lightbox-image > img {
    max-width: 720px;
    max-height: 400px;
    cursor: pointer;
}



.dialog-footer {
  background-color: #ccc;
  text-align: right;
  left: 0;
  right: 0;
}

.dialog-panel.lightdialog .dialog-footer{
    display:inline-block;
	background-color: transparent;
}

.dialog-header,
.dialog-description,
.dialog-error,
.dialog-footer {padding:10px 16px 10px 16px;}
.dialog-footer {padding-top:5px; padding-bottom:5px;}

.dialog-description,
.dialog-error,
.dialog-content,
.dialog-footer {margin-top:2px;}

.dialog-footer button.btn-dialog { margin-left: 10px; margin-right:0px; min-width:60px;}
.dialog-footer button.btn-dialog-commit { float: right; }

.dialog-footer-toolbar {
  float:left;
}

.dialog-help {
  float: right;
  margin-right: 0px;
}

button.btn-dialog-help {
  background: url("img/icon-help.png") no-repeat scroll 1px 1px transparent;
  border: none;
  float: right;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.help-message-inline span, .dialog-description {
  font-family: Verdana, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.dialog-panel .field-container {
  color: #999;
}

.action-dialog-help {
  background: url("img/icons/icon-help.png") no-repeat scroll 1px 1px transparent;
  border: none;
  display: inline-block;
  height: 20px;
  margin: 0px 1px 0px 2px;
  padding: 0px;
  vertical-align: middle;
  width: 20px;
}









.modal{
    position: absolute;
    top: 0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.modal-child {
  display: inline-block !important;
  position: relative;
  margin-top: 2px;
}

/* transparent border */
.modal.modality-light .modal-child
.modal.modality-non-modal .modal-child
{
    border: 20px solid rgb(255, 255, 255);
    border: 20px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}


/* Vertical centering - The ghost, nudged to maintain perfect centering  - http://css-tricks.com/centering-in-the-unknown */
.modal.center-vertical:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* vertical centering */
.modal.center-vertical .modal-child {
    vertical-align:middle;
}






.modal.modality-light .modal-curtain,
.modal.modaility-strong .modal-curtain
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:#000;
    opacity:0.8;
    filter:alpha(opacity = 80);
}

.modal.modality-light .modal-curtain{
    background-color:transparent;
}


/* Set proper stacking for modals */
.modal.app,
.modal.sub-app {
    z-index: 110;
    overflow: hidden;
}

.modal.shell{
	z-index:500;
}

.modal.shell .modal-child{
  top:60px;
}




/*
* Forms in a Modal.
*/

.modal .v-form-layout {
    background-color: #E6E6E6;
}

.modal .form-panel .v-shell-tabsheet,
.modal .form-panel .v-shell-tabsheet .nav li.active {
    background-color: #E6E6E6;
}




.lightdialog .title{
    font-weight:bold;
    padding-bottom:5px;
}
.lightdialog{
    color:black;
    padding-bottom:5px;
 }
.lightdialog button,
.lightdialog .btn-default,
.lightdialog .btn-other{
    color:white;
}


.lightdialog .btn-dialog-default { float:right;}

.lightdialog.msginfo{                  }
.lightdialog.msginfo .m-closebutton{        color: $c05;
    &:hover,&:active{                       color: #A1ADAF;}}
.lightdialog.msginfo .btn-dialog-default{   background: $c05;}
.lightdialog.msginfo button{                background: #A1ADAF;}

.lightdialog.msgwarn{                       background: $c15;}
.lightdialog.msgwarn .m-closebutton{        color: #F6A51C;}
.lightdialog.msgwarn .btn-dialog-default{   background: #F6A51C;}
.lightdialog.msgwarn button{                background: #BEB099;}

.lightdialog.msgerror{                      background: $c19;}
.lightdialog.msgerror .m-closebutton{       color: $c17;}
.lightdialog.msgerror .btn-dialog-default{  background: $c17;}
.lightdialog.msgerror button{               background: #AE9D9D;}

.alert-progressbar {
    display: none;
}

.notification-dialog {
    vertical-align: top !important;
    
}

.notification-dialog .dialog-header {
    padding: 10px 16px 0px 16px;
}

}