/* FAVORITES STYLES */

.favorites .v-splitpanel-hsplitter-locked {
	border:none;
	margin-top:35px;
}

.favorites .v-feed-section > .v-csslayout-margin-top {
    padding-top:37px;
}

.v-caption-favorites-section {
	padding-bottom:8px;
	color:#679600;
	font-family:DINWebPro, sans-serif;
	font-size:18px;
	font-weight:bold;
}

.favorites-section {
	padding-bottom:48px;
}

.v-favorites-entry {
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 10px 10px 3px;
	font-size:15px;
	line-height:18px;
	height:40px;
}

.v-favorites-entry .v-label {
	display:inline-block;
}

.v-favorites-entry .v-label-icon {
	width:24px;
	height:24px;
	color:#679600;
	margin-right:10px;
	font-size:24px;
	position: relative;
}
