@charset "UTF-8";

@mixin favorites {

/* FAVORITES STYLES */

.favorites {
   background-color: white;
 }


.favorites .v-splitpanel-hsplitter-locked {
  border:none;
  margin-top:35px;
  background: transparent;
}

.favorites-group {
  border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
}

.favorites-group input[type="text"] {
  color:#679600;
  font-family:DINWebPro, Verdana, sans-serif;
  font-size:18px;
  width: 329px;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.favorites-group input.v-textfield-readonly {
  background-color: transparent !important;
  border: none !important;
}

.favorites-group.no-group {
  border-bottom: none;
}

.favorites-group-title:hover, .favorites-entry:hover {
  background-color: #E6E6E6;
}

.favorites-entry {
    height:35px;
    width:402px;
}

.favorites-group-title.selected,.favorites-entry.selected {
  color: white;
  background-color: #666;
}

.favorites-entry .v-label {
  display:inline-block;
  padding: 2px 0 0 5px;
}

.favorites-entry .icon {
  color:#679600;
  font-size:24px;
  cursor: pointer;
}

.favorites-entry input[type="text"] {
  color: #666;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  border:none !important;
  margin-top: 6px !important;
  margin-left: 3px;
  width: 310px;
  text-overflow: ellipsis;
}

.favorites-entry input[type="text"]:hover {
  text-decoration: underline;
}

.favorites-entry.selected input[type="text"],.favorites-entry.selected input[type="text"].readonly {
  color:white;
}

.favorites-entry.selected input[type="text"].editable {
   color: #666;
   text-decoration: none;
}

.favorites-entry input.v-textfield-readonly {
  background-color: transparent !important;
  cursor: pointer;
}

.favorites-group button.favorite-action, .favorites-entry button.favorite-action {
  border: none;
  margin-right: 5px;
  background-color: transparent;
    font-size: 20px;
    width: 25px;
    padding-top: 2px;
    color: white;
}
.favorites-group button.favorite-action:hover, .favorites-entry button.favorite-action:hover {
  color: #679600;
}

.favorites-form {
  margin-left: 30px;
  width: 840px !important;
}

.favorites-form .dialog-header {
  height: 35px;
  padding-top: 0 !important;
  cursor: pointer;
}

.favorites-form .dialog-header .title {
   position: absolute;
   font-family:DINWebPro, Verdana, sans-serif;
   font-size: 14px;
   color: white;
   top: 10px;
   left: 50px;
   cursor: pointer;
}

.favorites-form .dialog-header .icon span{
  position: absolute;
  color: white;
  font-size: 25px;
  top:0;
  cursor: pointer;
}

.favorites-form .dialog-header .arrow span {
    font-size: 18px;
    right: 20px;
}

.favorites-form .v-tabsheet-content {
  border: none !important;
  height: 144px !important;
}

.favorites-form-content, .favorites-tabs {
    background-color: #E6E6E6;
}

.favorites-form-content .v-formlayout-captioncell {
  padding-left:15px;
}

.favorites-tabs .v-tabsheet-tabitem {
  border: none ;
}

.favorites-tabs .v-tabsheet-spacertd div {
    border: none;
}

.favorites-tabs .v-tabsheet-tabitemcell-first {
    border-right: 1px solid #999;
}
.favorites-tabs .v-tabsheet-tabitem .v-caption {
  color: #999;
}
.favorites-tabs .v-tabsheet-tabitem .v-caption :hover {
  color: #679600;
}
.favorites-tabs .v-tabsheet-tabitem-selected .v-caption {
  color: black;
}
.favorites-form-content input[type="text"] {
  width: 700px !important;
 }

.favorites-form-content .btn-dialog-commit {
   margin-left: 668px;
 }

.favorites-form-content span.v-required-field-indicator {
   color: black;
 }

}
