@charset "UTF-8";

@mixin favorites {

/* FAVORITES STYLES */

.favorites {
   background-color: white;
 }


.favorites .v-splitpanel-hsplitter-locked {
  border:none;
  margin-top:35px;
  background: transparent;
}

.v-caption-favorites-section {
  color:#679600;
  font-family:DINWebPro, Verdana, sans-serif;
  font-size:18px;
  border-top: 1px solid #E6E6E6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.favorites-section {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
}
.favorites-entry:hover {
	background-color: #E6E6E6;
}

.favorites-section.no-group {
  border-bottom: none;
}

.favorites-entry {
  	height:35px;
  	width:402px;
}

.favorites-entry.selected {
	color: white;
	background-color: #666;
}

.favorites-entry .v-label {
  display:inline-block;
}

.favorites-entry .icon {
  color:#679600;
  font-size:24px;
  cursor: pointer;
}

.favorites-entry input[type="text"] {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 3px;
  width: 310px;
  text-overflow: ellipsis;
}

.favorites-entry input[type="text"]:hover {
	text-decoration: underline;
}

.favorites-entry.selected input[type="text"],.favorites-entry.selected input[type="text"].readonly {
	color:white;
}

.favorites-entry.selected input[type="text"].editable {
	 color: #666;
	 text-decoration: none;
}

.favorites-entry input.v-textfield-readonly {
	background-color: transparent !important;
	cursor: pointer;
}

.favorites-entry button.favorite-action {
	border: none;
	margin-right: 5px;
	background-color: transparent;
    font-size: 20px;
    width: 25px;
}
.favorites-entry button.favorite-action:hover {
	color: #679600;
}

.favorites-form {
  margin-left: 30px;
  width: 840px !important;
}

.favorites-form .dialog-header {
  height: 35px;
  padding-top: 0 !important;
  cursor: pointer;
}

.favorites-form .dialog-header .title {
   position: absolute;
   font-family:DINWebPro, Verdana, sans-serif;
   font-size: 14px;
   color: white;
   top: 10px;
   left: 50px;
   cursor: pointer;
}
.favorites-form .dialog-header .icon span{
  position: absolute;
  color: white;
  font-size: 25px;
  top:0;
  cursor: pointer;
}
.favorites-form-content, .favorites-tabs {
    background-color: #E6E6E6;
}

.favorites-form-content input[type="text"] {
  width: 700px !important;
 }
 .favorites-form-content .buttons {
   float: right;
 }

 .favorites-form-content .buttons .btn-dialog-commit {
   margin-right: 14px;
 }

.favorites-form-content span.v-required-field-indicator {
 	color: black;
 }

}
