@charset "UTF-8";

@mixin form {

.form-panel {
    margin:0 auto;
    padding:0;
    width:900px;
    max-width:100%;
    position:relative;
}

.form-footer-toolbar{
	float:left;
}

.form-header {
    background-color:#666;
    font-size:16px;
    height:20px;
}

.form-header-toolbar{
    float:right;
    padding-right:12px;
}

.form-content {
  overflow:hidden;
	transition-property:height;
	transition-duration:1s;
}

.form-content .v-shell-tabsheet-scroller {
	position:static !important;
	max-height:450px;
}
.tablet .form-content .v-shell-tabsheet-scroller {max-height:385px;} /* Ensure form footer is visible on the iPad */

.form-footer {
  background-color:#ccc;
	text-align:right;
}

.form-header,
.form-description,
.form-error,
.form-footer {padding:10px 16px 10px 20px;}
.form-footer {padding-top:9px; padding-bottom:9px;}

.form-description,
.form-error,
.form-content,
.form-footer {margin-top:2px;}

/*
* Tabsheet color
*/
.form-panel .v-shell-tabsheet {
    background-color: #F2F2F2;
}

.form-panel .v-shell-tabsheet .nav li.active {
    background-color: #F2F2F2;
}

.v-form-layout {
    background-color: #F2F2F2;
    margin-top:25px;
    width: 100%;
}

.v-form-field-section, .v-form-field-label, select,
.v-form-field, .validation-message-inline span, .help-message-inline span,
.form-description {
    font-family: Verdana, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

.v-form-layout .v-form-field {
    display: inline-block;
    width:510px;
    vertical-align: middle;
}

.form-header span {
    color:#aabf2f;
    font-family:DINWebPro;
}

.form-description {
    background-color:#C1D8DF;
}

.form-error {
    background-color:#9A3333;
    color:#fff;
}

.form-description span {
    margin-right:35px;
}

.form-help {
    float: right;
    margin-right: 0px;
}

button.btn-form-select {
    margin-left: 2px;
}

.form-footer button.btn-form-commit { float: right; margin-left: 10px; }

button.btn-form-help {
    background: url("img/icon-help.png") no-repeat scroll center center transparent;
    border: none;
    float: right;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}

.form-panel .field-container {
    color: #999;
}

.v-form-field.v-customcomponent {
    width:525px !important;
}

.v-form-field.v-customcomponent.text-and-content {
    width: auto !important;
}

.v-form-field-label {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin-right: 12px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle; /*needed by FF*/
}

.v-form-field-container {
    display: block;
    position: relative;
}

.validation-hilight {
    border: 2px solid #9A3333;
    padding: 3px 0px;
    background-color: white;
}

.v-form-field-section {
    color: #000;
    margin-bottom: 11px;
}

.validation-message-inline,.help-message-inline {
    margin-bottom: 10px;
    padding-top: 5px;
    position: relative;
}

/*vaadin delivers error message in html form - here we make sure it is at least inlined*/
.validation-message-inline span > div {
	display: inline-block;
}

.validation-message,.help-message {
    background: none repeat scroll 0px 0px #9A3333;
    color: white;
    display: block;
    padding: 10px;
}

.help-message {
    background: none repeat scroll 0px 0px #C1D8DF;
    color: black;
}

.help-message span {
    vertical-align: middle;
    margin-left: 3px;
}

.triangle.red path {
    fill: #9A3333;
}

.triangle.blue path {
    fill: #C1D8DF;
}

.triangle {
    text-align: center;
}

.icon-error-white {
    background: url("img/icons/icon-error-white.png") no-repeat scroll 1px 1px transparent;
    border: medium none;
    display: inline-block;
    height: 20px;
    margin: 0px 6px 0px 0px;
    padding: 1px;
    vertical-align: middle;
    width: 20px;
}

.action-jump-to-next-error {
    -moz-user-select: text;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    color: #999 !important;
    display: inline;
    padding-left: 5px;
    cursor: pointer;
}

.action-jump-to-next-error:hover {
    color: #FFF ! important;
}

.action-jump-to-next-error:focus {
    outline-offset: -3px;
}

.icon-error,.action-validation {
    background: url("img/icons/icon-error-red.png") no-repeat scroll 1px 1px transparent;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0px 1px 0px 2px;
    padding: 0px;
    vertical-align: middle;
    width: 19px;
}

.action-form-help {
    background: url("img/icons/icon-help.png") no-repeat scroll 1px 1px transparent;
    border: none;
    display: inline-block;
    height: 20px;
    margin: 0px 1px 0px 2px;
    padding: 0px;
    vertical-align: middle;
    width: 20px;
}

fieldset {
    border: 0px none;
    padding: 0;
}

.form-content.show-all fieldset legend {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: block !important;
    padding-left: 27px;
    padding-bottom: 18px;
}

.form-content.show-all fieldset hr {
    margin: 22px 24px 0px;
    border-top: 1px solid black;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    display:block !important;
    height: 0; /*needed by FF*/
}

/*do not display hr on under last tab when in show-all mode*/
.v-shell-tab:last-child fieldset hr {
    display: none !important;
}

.v-form-field-container .v-datefield {
    float: none;
    display: inline;
}

.v-form-field-container .v-datefield-button {
    margin: 2px 0 0 3px;
}

.v-form-field-label  span.requiredfield {
    color: black;
    font-family: inherit;
    font-size: 18px;
    vertical-align: -20%;
    margin-left: 3px;
}

.content-view-field-wrapper .v-form-field-label {
    display: none;
}

/*
* used by TextAndButtonField custom component.
*/
input[type="text"].small-textfield {
   width: 100%;
}

.v-form-field.v-richtextarea {
    width: 523px !important;
}

}
