.v-magnolia-table {
	position:relative;
	background:none repeat scroll 0 0 #ffffff;
}

.mgnl-content-view {background:#fff;}
.mgnl-content-view .v-verticallayout-margin {padding:8px 12px;}

.v-magnolia-table .v-table {
	background-color:#ffffff;
	font-size:12px;
}

.v-magnolia-table .v-table-cell-content {
	border-bottom:1px dashed #dddddd;
	padding:5px;
	line-height:18px;
	color:#666666;
}

.v-magnolia-table .v-table-header-wrap {
	background:none;
	border: none;
	border-bottom:1px solid #aaa;
}

.v-magnolia-table .v-table-body-wrapper {
	border: none;
}

.v-table-header-wrap, .v-table-header-drag {
	height:auto;
}

.v-magnolia-table .v-table-cell-wrapper {
	position: relative;
}

.v-magnolia-table .v-table-resizer {
	visibility: hidden;
}

.v-magnolia-table .v-table-caption-container {
	color:#333333;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Geneva,Helvetica,sans-serif;
	padding:10px 5px;
	margin:0;
}

.v-magnolia-table .square {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.v-magnolia-table .tree-table-label.root .square {
	background-color: #A7B900;
}

.v-magnolia-table .tree-table-label.child .square {
	background-color: blue;
}

.v-magnolia-table .tree-table-label {
	display: inline-block;
	vertical-align: middle;
}

.v-magnolia-table .v-table-header td:FIRST-CHILD span {
	padding-left: 30px;
}

.v-magnolia-table .v-select-all {
	position:absolute;
	top:0;
	left:6px;
	z-index:1000;
	margin: 10px 0px 0px 2px;
}

.v-magnolia-table tr.v-selected .v-table-cell-content {
	background:#666666;
	color:#ffffff;
}

*:focus {
	outline:none;
}

.v-table-focus .v-table-cell-wrapper {margin:0;}
.v-table-focus .v-table-cell-content {border-top:none;}

/*.v-magnolia-table .v-treetable-treespacer {
    margin-left: 20px;
}*/

.v-magnolia-table .v-selection-cb {
	width:15px;
	height:15px;
	line-height:18px;
	vertical-align:top;
	margin:0 4px;
}

.v-magnolia-table.mobile .v-table-row, .v-magnolia-table.mobile .v-table-row-odd {
	height: 40px;
}

.v-magnolia-table .v-table-row, .v-table-row-odd {
	height: 20px;
}

.v-magnolia-table .v-table-row:HOVER, .v-table-row-odd:HOVER {
	background-color: #EFEFEF;
}

.v-magnolia-table .v-selected:HOVER {
	background-color: #666666;
}

.v-magnolia-table.mobile .v-treetable-node-open { 
	padding-right: 5px;
	width: 24px;
}

.v-magnolia-table.mobile .v-treetable-node-closed {
	width: 18px;
	padding-right: 5px;
}

.v-magnolia-table .v-treetable-treespacer {
	font-size: 20px;
	padding: 0;
	margin-left: 0px;
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    vertical-align: text-bottom;
    text-align: right;
    color: #999999;
    position: static;
}

.v-magnolia-table.mobile .v-treetable-treespacer {
	font-size: 30px;
	padding-right: 10px;
}