.v-hybrid-selection-table {
	position:relative;
	background:none repeat scroll 0 0 #ffffff;
}

.mgnl-content-view {background:#fff;}
.mgnl-content-view .v-verticallayout-margin {padding:8px 12px;}

.v-hybrid-selection-table .v-table {
	background-color:#ffffff;
	font-size:12px;
}

.v-hybrid-selection-table .v-table-cell-content {
	border-bottom:1px dashed #dddddd;
	padding:5px;
	line-height:18px;
	color:#666666;
}

.v-hybrid-selection-table .v-table-header-wrap {
	background:none;
	border-bottom:1px solid #cccccc;
}

.v-table-header-wrap, .v-table-header-drag {
	height:auto;
}

.v-hybrid-selection-table .v-table-cell-wrapper {
	position: relative;
}

.v-hybrid-selection-table .v-table-resizer {
	visibility: hidden;
}

.v-hybrid-selection-table .v-table-caption-container {
	color:#333333;
	font-size:12px;
	font-weight:bold;
	font-family:Verdana,Arial,Geneva,Helvetica,sans-serif;
	padding:10px 5px;
	margin:0;
}

.v-hybrid-selection-table .square {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.v-hybrid-selection-table .tree-table-label.root .square {
	background-color: #A7B900;
}

.v-hybrid-selection-table .tree-table-label.child .square {
	background-color: blue;
}

.v-hybrid-selection-table .tree-table-label {
	display: inline-block;
	vertical-align: middle;
}

.v-hybrid-selection-table .v-select-all {
	position:absolute;
	top:0;
	left:6px;
	margin-top:8px;
}

.v-hybrid-selection-table tr.v-selected .v-table-cell-content {
	background:#666666;
	color:#ffffff;
}

*:focus {
	outline:none;
}

.v-table-focus .v-table-cell-wrapper {margin:0;}
.v-table-focus .v-table-cell-content {border-top:none;}

/*.v-hybrid-selection-table .v-treetable-treespacer {
    margin-left: 20px;
}*/

.v-hybrid-selection-table .v-selection-cb {
	width:15px;
	height:15px;
	line-height:18px;
	vertical-align:top;
	margin:0 4px;
}

.v-hybrid-selection-table .v-table-row, .v-table-row-odd {
	height: 25px;
}

.v-hybrid-selection-table .v-table-row:HOVER, .v-table-row-odd:HOVER {
	background-color: #EFEFEF;
}

.v-hybrid-selection-table .v-selected:HOVER {
	background-color: #666666;
}