@charset "UTF-8";

@mixin media-editor {
.v-media-editor {
    z-index: 201;
}

.v-media-editor .dialog-panel {
    position: relative;
    background-color: #000000;
}

.v-media-editor .dialog-footer {
   background-color: #999999;
}

.v-media-editor {
	color: #FFFFFF;
}

.v-media-editor .v-label {
	font-size: 13px;
	padding-top: 5px;
}

.v-media-editor .v-nativebutton {
	font-family: DINWebPro;
	font-size: 12px;
	font-weight: bold;
	background: none repeat scroll 0px 0px #666666;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 4px 12px;
	text-transform: uppercase;
}

.v-media-editor .v-nativebutton:hover,.v-media-editor .v-nativebutton:focus,.v-media-editor .v-nativebutton-active{color: #fff;}
.v-media-editor .v-nativebutton::-moz-focus-inner {padding: 0; border: 0;}
.v-media-editor .v-nativebutton-caption {text-decoration: none;}
.v-media-editor .v-nativebutton.rotate-left {}


.v-media-editor .image-media-field {
	overflow: auto;
}
/*Scalable image styles*/
.v-media-editor .scale-to-fit, .scale-to-fit img{
	max-width: 100%;
	max-height: 100%;
}
}
