@charset "UTF-8";

@mixin page-editor {

  .pagebar > .v-label {
    margin: 0 0 0 5px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 21px;
  }

  .pagebar > .title {
    float: left;
  }

  .pagebar > .status {
    float: right;
    margin-right: 20px;
  }

  .pagebar {
    color: $c16;
    background-color: #6a9000;
  }

  .pagebar.preview {
    background-color: $c91333;
  }

  .pagebar > .v-filterselect {
    float: right;
    margin-right: 15px;
    height: 23px;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .pagebar > .v-filterselect > input {
    min-width: 70px;
    max-width: 80px;
    height: 12px;
  }

}