@charset "UTF-8";

@mixin pulse {

/* PULSE DASHBOARD STYLES */

.pulse-dashboard .v-splitpanel-hsplitter-locked {
	border:none;
}

.pulse-dashboard .v-feed-section {
    padding-top:12px;
}

.v-dashboard-entry {
	border-bottom: 1px solid $c14;
	margin-bottom: 10px;
	font-size:15px;
}

/* Clearfix */
.v-dashboard-entry:before, .v-dashboard-entry:after { content: ""; display: table; }
.v-dashboard-entry:after { clear: both; }

.v-dashboard-entry {padding-top:10px; padding-bottom:5px;}

.v-dashboard-entry .v-label {
	display:inline-block;
}

.v-dashboard-entry .v-label-icon {
	width:32px;
	height:32px;
	color:#679600;
	font-size:32px;
	position: relative;
    top:-12px;
    float:left;
}

.v-dashboard-entry .content {
	margin-left:-40px;
	float:right;
	width:350px !important
}

.v-dashboard-entry .content {
	padding-left:40px;
}

.v-dashboard-entry .v-label-comment:empty {
	display:none;
}
.v-dashboard-entry .v-label-comment {
	padding:8px;
	background-color:$c15;
	margin-bottom:5px;
}
.v-dashboard-entry .comment-divet {
	color:$c15;
	display:block;
    font-size:20px;
    height:14px;
    line-height:20px;
    padding-left:12px;
}

.v-dashboard-entry .v-label-date {
	color:$c14;
	text-align:right;
	width:340px !important;
}

.v-pulse {
  background-color: $c80;
}

.v-pulse .back-button {
  display: inline-block;
  color: $c10;
  cursor: pointer;
}

.v-pulse .back-button .v-label {
  padding-left: 5px;
  cursor: inherit;
}

.v-pulse .message-title {
  text-align: center;
  font-weight: bold;
  margin: 25px 0;
}

.v-pulse .v-shell-tabsheet {
    background-color: $c80;
}

.v-pulse .v-feed-title-link {
    width: 16px;
    height: 16px;
    border: 0;
    background: url("img/icon-rss.png") no-repeat scroll 0 0 transparent;
}

.v-pulse .category-separator {
    padding:10px 0;
}

.v-pulse .category-separator, .v-pulse .recent-pages th {
    color:$c90;
    font-family:Verdana,sans-serif;
    font-weight:bold;
}

.v-pulse .recent-pages {
	width:100%;
}

.v-pulse .recent-pages tr {
	height:34px;
}

.v-pulse .recent-pages .status-icon {
	font-size:32px;
	line-height:24px;
	position:relative;
    top:-2px;
}

.pulse-dashboard .icon-rssfeed {
	position:absolute;
	top:8px;
	right:20px;
	color:$c14;
    font-size: 20px;
}

.v-pulse .navigator {padding:13px 0 20px;}
.v-pulse .navigator-button {
	height:12px;
	border-right:1px solid $c13;
	padding:0 42px 0 20px;
	color:$c13;
	font-family:DINWebPro, sans-serif;
	font-size:14px;
	line-height:1;
	text-transform:uppercase;
}
.v-pulse .v-nativebutton-active {color:$c10;}
.v-pulse .v-nativebutton::-moz-focus-inner {padding:0; border:0}
.v-pulse .navigator-button .v-nativebutton-caption {text-decoration:none;}

.v-pulse .v-table-generated-row {
	background: transparent;
}
.v-pulse .v-table-generated-row .v-table-cell-content {
	border-bottom: 1px solid $c11;
	font-family: Verdana, Geneva, sans-serif;
	color: $c12;
	padding-top: 20px;
	padding-bottom: 0px;
}
.v-pulse .v-table-cell-content-v-cell-invisible {
	background: $c15;
}
.v-pulse .v-table-cell-content-v-cell-invisible div {
	display: none;
}

.v-pulse .navigator-grouping {
	display: inline-block;
	margin-left: 50px;
}

.v-pulse .emptyplaceholder {
	color: $c10;
	font-weight: bold;
	text-align: center;
}

}