/*PULSE RELATED STYLES*/
.v-pulse .v-feed-title-link {
    width: 16px;
    height: 16px;
    border: 0;
    background: url("img/icon-rss.png") no-repeat scroll 0 0 transparent;
}

.v-pulse .category-separartor {
    color: #000000;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.activity-item .status.green {
    background: url("img/icon-status-green.png") no-repeat scroll 0 0 transparent;
    min-height: 16px;
    min-width: 16px;
}

.activity-item .status.red {
    background: url("img/icon-status-red.png") no-repeat scroll 0 0 transparent;
    min-height: 16px;
    min-width: 16px;
}

/*END OF PULSE RELATED STYLES*/