@charset "UTF-8";

@mixin shell {

.v-view {
	overflow: hidden !important;
}

.v-magnolia-shell {
    background-color:#77a42f;
	background: linear-gradient(top, #77a42f 0%,#a9be2e 100%);
	background: -moz-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
	background: -webkit-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
    color: #444444;
    font-size: 13px;
    overflow: hidden;
}

#logo {
	width:132px;
    position:absolute;
	top:7px;
	left:17px;
	cursor:pointer;
}

#main-launcher {
	position:absolute;
	width:100%;
    height:60px;
    z-index:400;
    overflow:hidden;
    background-color:#689600;
    color:#48630a;
    text-align:center;
}
.fullscreen #main-launcher{
    display:none;
}

.btn-shell {
    position:relative; /* So that the indicators (position:absolute) are correctly positioned */
    margin-top: 3px;
    margin-left: 12px;
    margin-right: 12px;
    color:#48630a;
    display: inline-block;
    font-size: 13px;
    width: 36px;
    height: 70px;
    border: none;
    text-align: center;
    vertical-align: top;
    font-size:36px;
    cursor:pointer;
}

.btn-shell:hover,.btn-shell.active {
	color: white;
}

.btn-shell.active {
	cursor:default;
}

#divet {
    position:absolute;
    top:47px;
    width:20px;
    height:10px;
}

.v-shell-viewport-slot {
    position:absolute;
    top:60px;
    bottom:0;
    left: 0;
    right: 0;
}

.v-viewport {
    position:absolute;
    top:0;
    overflow:visible;
}

.v-viewport-shellapps {z-index:200;}
.v-viewport-apps {z-index:100;}

.v-viewport-apps > .app,
.v-viewport-shellapps > div {
	position:absolute;
	top:0;
	bottom:0;
}

.v-shell-app {
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	top: 100px !important;
	width: 100%;
	text-align: center;
}

.v-curtain {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:200;
}

.v-curtain-green {
    background-color:#77A42F;
    opacity:0.9;
    filter:alpha(opacity = 90);
}

.v-curtain-black {
    background-color:#000;
    opacity:0.8;
    filter:alpha(opacity = 80);
}

.loading-modality-curtain {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	filter: alpha(opacity = 0);
    opacity: 0.0;
    background: none repeat scroll 0 0 #000000;
	z-index:1000;
	visibility:hidden;
}
.loading-icon-positioner {
	position:absolute;
	top:auto !important;
	bottom:auto !important;
	left:50%;
	z-index:1001;
}

.loading-icon-panel {
	display:block;
	width:24px;
	margin-left:-17px;
	padding:5px;
	background:#666;
}

.zoom-out {
	z-index:300 !important;

    -moz-animation-duration: 0.5s;
    -moz-animation-name: zoom-out;
    -moz-transform:scale(0);
/*     -moz-animation-timing-function: ease-out; */

    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: zoom-out;
    -webkit-transform:scale(0);
    /*-webkit-animation-timing-function: ease-out;*/
}

.beginzoom {
    opacity: 0;
}

.zoom-in {
	z-index:300 !important;

    -moz-animation-duration:0.5s;
    -moz-animation-name:zoom-in;
    -moz-transform:scale(1);
    /*-moz-animation-timing-function: ease-out;*/

    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: zoom-in;
    -webkit-transform:scale(1);
    /*-webkit-animation-timing-function: ease-out;*/
}

@-moz-keyframes zoom-out {
    from {-moz-transform:scale(1)}
    to {-moz-transform:scale(0)}
}

@-moz-keyframes zoom-in  {
    from {-moz-transform:scale(0);}
    to {-moz-transform:scale(1);}
}

@-webkit-keyframes zoom-out {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(0)}
}

@-webkit-keyframes zoom-in {
    from {-webkit-transform:scale(0);}
    to {-webkit-transform:scale(1);}
}

.v-loading-indicator-wait,
.v-loading-indicator-delay,
.v-loading-indicator {
	/*visibility: hidden;*/
}

.v-fullscreen-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100000;
}


.app-slider {
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transform: translate3d(0,0,0);
}

}
