.v-view {
	overflow: hidden !important;
}

.v-magnolia-shell {
    background-color:#77a42f;
	background: linear-gradient(top, #77a42f 0%,#a9be2e 100%);
	background: -moz-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
	background: -webkit-linear-gradient(top, #77a42f 0%, #a9be2e 100%);
    color: #444444;
    font-family: sans-serif;
    font-size: 13px;
    overflow: hidden;
}

#logo {
	width:132px;
    position:absolute;
	top:7px;
	left:17px;
}

#main-launcher {
	width: 100%;
	position: absolute;
    color: green;
    text-align: center;
    color: white;
    overflow: hidden;
    background-color: #689600;
    color: #48630A;
    height: 60px;
    z-index:500;
}
.fullscreen #main-launcher{
    display:none;
}

.btn-shell {
    position:relative; /* So that the indicators (position:absolute) are correctly positioned */
    margin-top: 3px;
    margin-left: 12px;
    margin-right: 12px;
    color: #48630A;
    display: inline-block;
    font-size: 13px;
    width: 36px;
    height: 70px;
    border: none;
    text-align: center;
    vertical-align: top;
    font-size:36px;
    cursor:pointer;
}

.btn-shell:hover,.btn-shell.active {
	color: white;
}

.btn-shell.active {
	cursor:default;
}

#divet {
    width: 20px;
    height: 10px;
    top: 50px;
    position: absolute;
}

.close {
    position: absolute;
    top: 4px;
    right: 4px;
}

button.action-close {
    background: url("img/icon-close-16.png") no-repeat scroll 2px 2px transparent;
    border: medium none;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 2px;
    vertical-align: text-top;
    width: 20px;
}

.btn-shell > span {
    display: block;
    padding-top: 45px;
}

.v-shell-viewport {
    position: absolute;
    overflow: visible;
    top: 60px;
    width: 100%;
    bottom: 0;
}

.v-shell-app {
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	top: 100px !important;
	width: 100%;
	text-align: center;
}

.green-modality-curtain {
    position: absolute;
    filter: alpha(opacity = 50);
    opacity: 0.9;
    background: none repeat scroll 0 0 #77A42F;
    height: 100%;
    right: 0;
    bottom: 0;
    top:60px;
    left:0;
    z-index:200;
}

.black-modality-curtain {
    position: absolute;
    filter: alpha(opacity = 80);
    opacity: 0.8;
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    left:0;
    z-index:200;
}

.zoom-out {
    -moz-animation-duration: 0.5s;
    /*-moz-animation-timing-function: ease-out;*/
    -moz-animation-name: zoom-out;
    -moz-transform:scale(0);

    -webkit-animation-duration: 0.5s;
    /*-webkit-animation-timing-function: ease-out;*/
    -webkit-animation-name: zoom-out;
    -webkit-transform:scale(0);
}

.zoom-in {
    -moz-animation-duration: 0.5s;
    -moz-animation-name: zoom-in;
    -moz-transform:scale(1);
    /*-moz-animation-timing-function: ease-out;*/

    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: zoom-in;
    -webkit-transform:scale(1);
    /*-webkit-animation-timing-function: ease-out;*/
}

@-moz-keyframes zoom-out {
    from {
      -moz-transform:scale(1)
    } to {
       -moz-transform:scale(0)
    }
}

@-moz-keyframes zoom-in  {
    from {
      -moz-transform:scale(0);
    } to {
       -moz-transform:scale(1);
    }
}

@-webkit-keyframes zoom-out {
    from {
      -webkit-transform:scale(1)
    } to {
       -webkit-transform:scale(0)
    }
}

@-webkit-keyframes zoom-in {
    from {
      -webkit-transform:scale(0);
    } to {
       -webkit-transform:scale(1);
    }
}

.v-loading-indicator-wait,
.v-loading-indicator-delay,
.v-loading-indicator {
	visibility: hidden;
}

.v-fullscreen-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100000;
}


.app-slider {
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transform: translate3d(0,0,0);
}

}