.v-shell-notification {
	width: 100%;
	position: absolute;
	z-index: 1200;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

.v-shell-notification.info {
	background: none repeat scroll 0 0 #D1D8DF;
	bottom: 0;
}

.v-shell-notification.warning {
	background: none repeat scroll 0 0 #FFBF28;
	bottom: 0;
}

.v-shell-notification.error {
	background: none repeat scroll 0 0 #9A3333;
	color: white;
	top: 60px;
}

.v-shell-notification .header {
	height: 25px;
}

.v-shell-notification .close {
	background: url("img/icon-close-16.png")no-repeat scroll 4px 4px transparent;
	vertical-align: text-top;
	display: inline-block;
	border: medium none;
	height: 20px;
	width: 20px;
	float: right;
	padding: 2px;
	margin: 0;
	right: 0;
    top: 0;
}

.v-shell-notification .close-error {
    background: url("img/icon-close-white-16.png")no-repeat scroll 4px 4px transparent;
}

.v-shell-notification .details-expander {
	margin-left: 20px;
}

.badge-icon {
	background-color:#689600;
    border-width:0;
    border-style:solid;
    border-color:#fff;
    border-radius:0.7em;
	color:#fff;
    display:inline-block;
    font-family:DINWebPro, sans-serif;
    font-size:16px;
    font-weight:bold;
    height:1em;
    min-width:1em;
    text-align:center;
    vertical-align: middle;
}

.badge-icon .text {
    font-size:0.75em;
    line-height:1.5em;
    padding:0 0.2em;
}

.btn-shell .badge-icon {
	position:absolute;
	top:29px;
	left:24px;
}
