.v-shell-tabsheet {
    background-color: #FFF;
}

.nav {
    height: 26px;
    overflow: hidden;
    background: #eee;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    list-style: none outside none;
}

.nav > li {
    min-width: 130px;
    float: left;
    margin: 0;
    padding:3px 0 0 25px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    color: #999;
    font-family: DINWebPro, sans-serif;
    font-size: 14px;
    line-height: 1.0;
    font-weight: bold;
    text-transform: uppercase;
}

.nav > li > span {
    display: inline-block;
    padding-right: 10px;
    vertical-align: text-bottom;
}

.nav > li.active  {
    background-color: #FFF;
    color: #666;
    cursor: default;
}

.nav > li.show-all, .nav-pills > li.show-all {
    float: right;
}

.nav > li.show-all span {
    text-align: right;
    padding-left: 15px;
    padding-right: 20px;
    border-left: 1px solid #C3C3C3;
    border-right: none;
}


/*SHELL TAB SHEET RELATED STYLES*/

.v-shell-tab-close {
    background: url("img/icon-close-16.png") no-repeat scroll 2px 2px transparent;
}

.v-shell-tab-notification {
    background: url("img/message-circle-pulse-tab.png") no-repeat scroll 0 0 transparent;
}

.v-shell-tab-close {
    width: 22px;
    height: 22px;
    z-index: 1000;
    float: right;
}

.v-shell-tab-notification {
	display: inline-block;
    height: 22px;
    width: 22px;
    z-index: 1000;
    float: right;
}

.v-shell-tab-error {
	background: url("img/icons/icon-error-red.png") no-repeat scroll 1px 1px transparent;
	display: inline-block;
    height: 22px;
    width: 22px;
    z-index: 1000;
    float: right;
}

.v-shell-tab {
	position: absolute;
}

.v-shell-tab-notification > span {
    color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    vertical-align: text-bottom;
    width: 22px;
    z-index: 4001;
    text-align: center;
}

/*END OF SHELL TAB SHEET RELATED STYLES*/


