.upload-image-field {
  width: 476px !important;
  height: auto !important;
}

.upload-image-field .v-csslayout-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.upload-image-field  .v-ddwrapper {
  padding:0;
}

.upload-image-field  .v-ddwrapper.v-ddwrapper-over, .in-progress {
  background-color: #C1D8DF !important;
  border: 1px solid #4B8E9E !important;
}

.upload {
  background-color: #E6E6E6;
  height: 118px !important;
  width: 474px !important;
  border: 1px solid #999;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.in-progress {
  height: 118px !important;
}

.done {
  height: 188px !important;
}

.initial {
  height: 118px !important;
}

.file-details {
  top: 70px;
  left: 185px;
  position: absolute;
}

.file-details .key {
  color: #666;
  margin-right: 12px;
  text-align: right;
  width: 50px;
  display: inline-block;
}

.file-details .value {
 display: inline-block;
}

.image {
  position: absolute;
  left: 20px;
  top:20px;
  bottom:20px;
}

.upload-image-field .buttons {
  bottom:20px;
  left: 200px;
  padding: 0;
  position: absolute;
}

.upload-image-field .v-button {
  font-family: DINWebPro;
  font-size: 12px;
  font-weight: bold;
  background: none repeat scroll 0px 0px #666 !important;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 4px 12px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  height: 25px;
}

.upload-image-field .v-button .v-button-wrap {
  background: none;
  padding:0;
}

.upload-image-field .v-button.delete {
  width: 100px !important;
  margin-left: 5px !important;
}

.initial .v-button.cancel {
  width: 100px !important;
  margin-top: 2px !important;
}

.initial .v-button {
  margin-top:30px;
  margin-left:20px;
  width: 120px;
}

.upload-image-field  .v-button .v-button-caption {
  line-height: normal;
}

.upload-text {
  width: auto !important;
  position: absolute;
  top: 46px;
  left: 160px;
  color: #999
}

.upload-text em {
  color: black ;
  font-style: normal;
}

/* Progress indicator styles*/
.uploading-progress-indicator {
    margin: 0 0 0 20px;
    padding: 0;
    height: auto;
}

.uploading-progress-indicator .v-progressindicator-wrapper, .v-progressindicator-indicator {
    background: #94B9C6;
    height: 22px;
    border:none;
    width: 400px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.uploading-progress-indicator  .v-progressindicator-wrapper .v-progressindicator-indicator {
    background: #666;
 }

.uploading-progress-indicator .uploading-file-progress {
    position: absolute;
    color:white;
    top:50px;
    left: 45%;
    font-size:11px;
}

.upload-image-field button.cancel {
    background: url("img/icon-close-16.png") no-repeat scroll 0px 0px transparent;
    position: absolute;
    top: 50px;
    right: 20px;
    padding:0;
    margin:0;
    height:16px;
    width:16px;
    border: none;
 }

.uploading-progress-indicator .uploading-file, .uploaded-file {
    margin-top:10px;
    margin-bottom:10px;
 }

.uploading-progress-indicator .uploaded-file {
    margin-left:135px
}
