@charset "UTF-8";

@mixin workbench {

.workbench {background-color:#e6e6e6;}
.workbench .v-horizontallayout {padding-top:20px; padding-left:40px; padding-bottom:40px;}
.workbench .v-horizontallayout-spacing-on {padding-left:25px;}
.workbench .v-spacing {width: 20px;}

.v-workbench-content {
	position: relative;
}

.view-modes {padding-left:21px; padding-bottom:20px; display: inline-block; width: 200px;}
.view-modes .v-nativebutton {font-style:normal; font-size:24px; color:#989898; line-height:1.0; padding:0 14px; border-left:1px solid #bbb;}
.view-modes .v-nativebutton:first-child {border-left:none;}
.view-modes .v-nativebutton:hover, .view-modes .v-nativebutton:focus, .view-modes .v-nativebutton-active {color:#fff;}
.view-modes .v-nativebutton::-moz-focus-inner {padding:0; border:0}
.view-modes .v-nativebutton-caption {text-decoration:none;}

.mgnl-workbench-thumbnail-view { background-color: #FFF;}

.mgnl-content-view {
	position: absolute;
	background:#fff;
	bottom: 0;
	left: 0;
	right: 0;
	top: 47px;
	padding:4px;
}

.v-horizontallayout.v-margin-top {padding-top:22px;}
.v-horizontallayout.v-margin-bottom {padding-bottom: 40px;}
.v-horizontallayout.v-margin-left {padding-left: 40px;}
.v-horizontallayout.v-margin-right {padding-right: 0;}
.dialog-panel .v-horizontallayout.v-margin-right {padding-right: 40px;}

.activation-status {font-size:18px; text-align: center}
.color-green {color:#689600;}
.color-yellow {color:#FFBF28;}
.color-red {color:#9A3332;}

.view-type-arrow {
    background: transparent url('img/arrow-up-white.png') no-repeat;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 37px;
    left: 75px;
}

.view-type-arrow.tree {left: 35px;}

.view-type-arrow.list {left: 90px;}

.view-type-arrow.thumbs {left: 143px;}

 /*FIXME fgrilli: just a temp workaround as moving the arrow beneath the search box (as per design) messes up the toolbar layout*/
.view-type-arrow.search { display: none}

.searchbox.v-textfield[type="text"] {
    float:right;
    width:246px;
    height:22px !important;
    margin:0;
    padding:0 2px 1px;
    border:none;
    border-radius:0;
    -webkit-border-radius:0;
    background:url("img/icon-search.png") no-repeat right center #fff;
    color:#666;
    font-family:Verdana, sans-serif;
    font-size:12px;
}
.searchbox.v-textfield[type="text"]:focus {box-shadow:none;}

.searchbox.v-textfield-prompt[type="text"] {
	background-color:#f2f2f2;
    color:#999;
}

.small-app {margin:0 auto;}
.small-app .v-label-intro {padding-top:23px; padding-bottom:30px; font-family:Verdana, sans-serif; font-size:12px; color:#000;}
.small-app-panel {background-color:#f2f2f2;}
.small-app-panel .v-csslayout-margin {border-bottom:4px solid #e6e6e6;}
.small-app-panel .v-csslayout-margin-top {padding-top:5px;}
.small-app-panel .v-csslayout-margin-right {padding-right:45px;}
.small-app-panel .v-csslayout-margin-bottom {padding-bottom:5px;}
.small-app .v-formlayout label,
.small-app .v-formlayout-captioncell {font-family:Verdana, sans-serif; font-size:12px; color:#666;}
.small-app .v-formlayout-captioncell {width:158px; min-width:158px; padding:0; vertical-align:top;}
.small-app .v-formlayout-captioncell .v-caption-required,
.small-app .v-formlayout-captioncell .v-caption-required .v-required-field-indicator {color:#000;}
.small-app .v-formlayout-spacing {border-spacing:0 20px;}
.small-app .v-formlayout-spacing .v-formlayout-captioncell,
.small-app .v-formlayout-spacing .v-formlayout-errorcell {padding-top:2px;}
.small-app .v-formlayout-spacing .v-formlayout-contentcell {padding-top:0; padding-right:50px;}
.small-app .v-select-optiongroup .v-select-option.v-radiobutton label {padding-left:4px;}
.small-app .v-select-optiongroup-horizontal {white-space:nowrap;}
.small-app .v-select-optiongroup-horizontal .v-select-option {display:inline-block;}
.small-app .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {padding-right:40px;}
.small-app .v-select-optiongroup-vertical .v-select-option {padding-top:7px;}
.small-app .v-select-optiongroup-vertical .v-select-option:first-child {padding-top:0;}
.small-app .v-formlayout .v-textfield-relative {position:relative; top:-48px; left:112px;}
.small-app .v-horizontallayout-buttons .v-horizontallayout-spacing-on {padding-left:12px;}

}