.mgnl-app-root {background-color:#e6e6e6;}
.mgnl-app-root .v-horizontallayout-margin {padding-top:20px; padding-left:40px;}
.mgnl-app-root .v-horizontallayout-spacing-on {padding-left:25px;}
.mgnl-workbench-toolbar .v-horizontallayout-margin {padding:0 0 20px 0;}