.workbench {background-color:#e6e6e6;}
.workbench .v-horizontallayout-margin {padding-top:20px; padding-left:40px; padding-bottom:40px;}
.workbench .v-horizontallayout-spacing-on {padding-left:25px;}

.view-modes {padding-left:21px; padding-bottom:20px;}
.view-modes .v-nativebutton {font-style:normal; font-size:24px; color:#989898; line-height:1.0; padding:0 14px; border-left:1px solid #bbb;}
.view-modes .v-nativebutton:first-child {border-left:none;}
.view-modes .v-nativebutton:hover, .view-modes .v-nativebutton:focus, .view-modes .v-nativebutton-active {color:#fff;}
.view-modes .v-nativebutton::-moz-focus-inner {padding:0; border:0}
.view-modes .v-nativebutton-caption {text-decoration:none;}

.mgnl-workbench-thumbnail-view { background-color: #FFF;}


.activation-status {font-size:16px;}
.color-green {color:#689600;}
.color-yellow {color:#FFBF28;}
.color-red {color:#9A3332;}