.v-appbutton {
	position: relative;
	text-align: center;
}

.v-appbutton .divet {
	position: absolute;
	bottom: 4px;
	height: 9px;
    width: 9px;
    background: url("img/style-app-running.png") no-repeat scroll center bottom transparent;
}