@charset "UTF-8";

@mixin button {

  .v-button {
    @include vaadinbutton;
  }

  .v-nativebutton-magnoliabutton,
  button.btn-dialog{
    @include nativebutton;
  }

  .v-button,
  .v-nativebutton-magnoliabutton,
  button.btn-dialog {

    &:focus{
      outline: $c22 solid 2px;
    }

    &.commit,
    &.v-button-commit {
      background-color: $c40;
    }

    .v-ui:not(.tablet) &.commit:hover,
    .v-ui:not(.tablet) &.v-button-commit:hover {
      background-color: $c30;
      color: $c80;
    }

    .v-ui:not(.tablet) &.commit.v-disabled:hover,
    .v-ui:not(.tablet) &.v-button-commit.v-disabled:hover {
      background-color: $c40;
      color: $c80;
    }

    .v-app .v-ui &.commit:active,
    .v-app .v-ui &.v-button-commit:active {
      background-color: $c80;
      color: $c40;
    }
  }

  .v-button-inline,
  .v-nativebutton-inline {
    background-color: transparent;
    color: $c10;
    font-size: 20px;
    padding: 0;
    margin-left: 4px;
    width: 24px;
    height: 24px;
    line-height: 1;

    .v-ui:not(.tablet) &:hover{
        background-color: transparent;
        color: $c91;
   }

  }

  .v-button-link {
    @include linkbutton;
  }

}

@mixin basebutton {
  border: none;
  background-color: $c10;
  color: $c80;
  font-family: $heading;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;

  @include box-sizing(content-box);

  .v-ui:not(.tablet) &:hover {
    background-color: $c91;
    color: $c80;
  }

  .v-app .v-ui &:active {
    background-color: $c80;
    color: $c10;
  }

  .v-ui:not(.tablet) &.v-disabled:hover {
    background-color: $c10;
    color: $c80;
  }

  &:-moz-focusring {
    outline: none;
  }
}

@mixin nativebutton {
  @include basebutton;

  padding: 3px 10px 0;
  line-height: 16px;
  height: 20px;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin vaadinbutton {
  @include basebutton;
  padding: 3px 10px 0;
  line-height: 20px;
}

@mixin linkbutton {
  background: none;
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;

  .v-ui:not(.tablet) &:hover{
    color: $c20;
    background-color: transparent;
  }

  &:active {
    color: inherit;
    background-color: transparent;
  }
}
