@charset "UTF-8";

@mixin button {

  .v-button,
  button.btn-dialog,
  button.btn-form {
    padding: 3px 10px 0;
    border: none;
    background-color: $c01;
    color: $c21;
    font-family: DINWebPro;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    &:active:not(.v-button-link) .v-button-wrap {
      position: relative;
      top: 1px;
    }

    &:-moz-focusring {
      outline: none;
    }

    &.commit,
    &.btn-dialog-commit,
    &.btn-form-commit {
      background-color: $c09;
    }
  }

  button.btn-dialog,
  button.btn-form {
    line-height: 1;
    padding: 6px 10px 3px;

    &:active {
      padding-top: 7px;
      padding-bottom: 2px;
    }
  }

  .v-button-link {
    background: none;
    color: inherit;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: $c05;
    }

    &:active {
      color: inherit;
    }
  }

}