@charset "UTF-8";

@mixin checkbox {

  .v-checkbox,
  .gwt-CheckBox {

    font-size: 12px;
    line-height: 14px;

    input[type="checkbox"] {
      opacity: 0;
      margin: 0;
    }

    label {
      display: inline-block;
      margin-left: -13px;
      min-width: 15px;
      min-height: 15px;
      text-indent: 17px;
      vertical-align: middle;
    }

    input[type="checkbox"] + label {
      background-image: url('img/icon-checkbox_off.png'); /* SVG with PNG fallback */
      background-image: none, url('img/icon-checkbox_off.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      -o-background-size: 15px 15px;
      -webkit-background-size: 15px 15px;
    }

    input[type="checkbox"]:checked + label {
      background-image: url('img/icon-checkbox_on.png');
      background-image: none, url('img/icon-checkbox_on.svg');
    }
  }

  /* OPTION GROUP */
  .v-select-optiongroup {
    font-size: 12px;
    line-height: 14px;

    .v-select-option {
      padding-bottom: 4px;
    }
  }

  .v-radiobutton {

    font-size: 12px;
    line-height: 14px;

    input[type="radio"] {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1px;
      margin-right: 4px;
    }

    label {
      display: inline-block;
      min-height: 15px;
    }
  }

}