@charset "UTF-8";

/* Color scheme for Magnolia */
$c50: #666; /* Greys */
$c54: #999;
$c62: #ccc;
$c64: #e6e6e6;
$c65: #f2f2f2;
$c75: #4b8e9e; /* Info blues */
$c90: #93bac6;
$c16: #c1d8df;
$c26: #ebeff4;
$c40: #689600; /* Magnolia 5 Green */
$c41: #91ac24;
$c50: #aabf2f;
$c52: #dbdf7c;
$c54: #edf6b5;
$c60: #ffbf28; /* Warning yellows */
$c62: #ffdb85;
$c64: #ffe8b8;
$c65: #fff2d6;
$c70: #9a3332; /* Error reds */
$c71: #ca704d;
$c73: #eda77c;
$c75: #fbe4c3;
$c80: #fff; /* White */
$c90: #000; /* Black */
$c30: #3e5900; /* Dark green */

/* Colors of page editor bars */
$c50: #6a9000;
$c51: #a5bc66;
$c52: #e1e8cc;
$c53: #efefef;
$c54: #fff;
