@charset "UTF-8";

/* Color scheme for Magnolia */

$c10: #666666; /* Greys */
$c11: #848484;
$c12: #a3a3a3;
$c13: #c1c1c1;
$c14: #d1d1d1;
$c15: #e0e0e0;
$c16: #efefef;

$c20: #4b8e9e; /* Blues */
$c21: #6fa4b1;
$c22: #93bbc4;
$c23: #b7d1d8;
$c24: #c9dde1;
$c25: #dbe8eb;
$c26: #edf3f5;

$c30: #3e5900; /* Dark Greens */
$c31: #647a33;
$c32: #8b9b66;
$c33: #b1bc99;
$c34: #c5cdb2;
$c35: #d8ddcc;
$c36: #ebeee5;

$c40: #689600; /* Mid Greens */
$c41: #86ab33;
$c42: #a4c066;
$c43: #c2d599;
$c44: #d1dfb2;
$c45: #e0eacc;
$c46: #eff4e5;

$c50: #aabf2f; /* Light Greens */
$c51: #bbcb58;
$c52: #ccd882;
$c53: #dde5ab;
$c54: #e5ebc0;
$c55: #eef2d5;
$c56: #f6f8ea;

$c60: #ffbf28; /* Yellows */
$c61: #ffcb53;
$c62: #ffd87e;
$c63: #ffe5a9;
$c64: #ffebbe;
$c65: #fff2d4;
$c66: #fff8e9;

$c70: #9a3332; /* Reds */
$c71: #ae5b5b;
$c72: #c28484;
$c73: #d6adad;
$c74: #e0c1c1;
$c75: #ead6d6;
$c76: #f4eaea;

$c80: #ffffff; /* Special */
$c90: #000000;
$c91: #444444;
