@charset "UTF-8";

/* Color scheme for Magnolia */
$c50: $c10; /* Greys */
$c54: $c12;
$c62: $c13;
$c64: $c15;
$c65: $c16;
$c75: $c20; /* Info blues */
$c90: $c22;
$c16: $c24;
$c26: $c26;
$c40: $c40; /* Magnolia 5 Green */
$c41: $c41;
$c50: $c50;
$c52: $c52;
$c54: $c54;
$c60: $c60; /* Warning yellows */
$c62: $c62;
$c64: $c64;
$c65: $c65;
$c70: $c70; /* Error reds */
$c71: $c71;
$c73: $c73;
$c75: $c75;
$c80: $c80; /* White */
$c90: $c90; /* Black */
$c30: #3e5900; /* Dark green */

/* Colors of page editor bars */
$c50: #6a9000;
$c51: #a5bc66;
$c52: #e1e8cc;
$c53: #efefef;
$c54: $c80;
