@charset "UTF-8";

@mixin inputfield {

  .v-sa input:focus,
  .v-sa textarea:focus {
    outline-width: 0;
  }

  .v-textfield, .v-textarea, .v-filterselect-input {
    margin: 0;
    padding: 3px 3px 4px 6px !important;
    border: 1px solid $c14;
    background-color: $c80;
    color: $c90;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:focus, &.focus {
      margin: -1px;
      border-width: 2px;
      border-color: $c22;
    }
  }

  input.v-textfield-prompt, textarea.v-textarea-prompt, .v-filterselect-prompt .v-filterselect-input {
		font-style: normal;
  }

  input.v-textfield-readonly, textarea.v-textarea-readonly {
    border: 1px solid $c15 !important;
    margin: 0 !important;
  }

  .v-filterselect-input {
    &:focus, &.focus {
      & + .v-filterselect-button {
       background-color: $c22;
     }
    }
  }

  .v-filterselect {
    padding-right: 0;

    & .v-filterselect-input {
      padding: 4px 3px 4px 6px !important;
    }

    &.v-has-width {
      padding-right: 11px;
    }

    &.v-filterselect-focus, &.focus {
      .v-filterselect-input {
        margin: -1px;
        border-width: 2px;
        border-color: $c22;
      }
      .v-filterselect-button {
        background-color: $c22;
      }
    }
  }

  .v-app .v-filterselect-input,
  .v-window .v-filterselect-input,
  .v-popupview-popup .v-filterselect-input {
    @include box-sizing(content-box);
    min-width: 136px;
  }

  .v-filterselect-button {
    width: 16px;
    height: 16px;
    padding: 5px 5px 4px;
    margin: 0 0 -3px -26px;
    background-position: 0 -6px;
  }

  .v-filterselect-suggestpopup {
    padding: 0 0 3px;
    border: 1px solid $c14;
    font-size: 12px;
  }

  .v-filterselect-suggestmenu .gwt-MenuItem {
    padding-left: 7px;
  }

  .v-filterselect-suggestmenu .gwt-MenuItem-selected {
    background-color: $c22;
    color: $c90;
  }

}
