@charset "UTF-8";

@mixin input {

  .v-checkbox,
  .v-radiobutton,
  .gwt-CheckBox {
    font-size: 12px;
    line-height: 15px;

    label {
      display: inline-block;
      margin-left: -13px;
      min-width: 15px;
      min-height: 15px;
      text-indent: 17px;
      vertical-align: middle;
    }

    input[type="checkbox"],
    input[type="radio"] {
      opacity: 0;
      margin: 0;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      -o-background-size: 15px 15px;
      -webkit-background-size: 15px 15px;
    }
  }


  .v-checkbox,
  .gwt-CheckBox {

    input[type="checkbox"] + label {
      background-image: url('img/icon-checkbox_off.png'); /* SVG with PNG fallback */
      background-image: none, url('img/icon-checkbox_off.svg');

    }

    input[type="checkbox"]:checked + label {
      background-image: url('img/icon-checkbox_on.png');
      background-image: none, url('img/icon-checkbox_on.svg');
    }
  }

  /* OPTION GROUP */
  .v-select-optiongroup {
    font-size: 12px;
    line-height: 15px;

    .v-select-option {
      padding-bottom: 3px;
      padding-right: 5px;
    }
  }

  .v-radiobutton {

    input[type="radio"] + label {
      background-image: url('img/icon-radio_off.png'); /* SVG with PNG fallback */
      background-image: none, url('img/icon-radio_off.svg');
    }

    input[type="radio"]:checked + label {
      background-image: url('img/icon-radio_on.png');
      background-image: none, url('img/icon-radio_on.svg');
    }
  }
}