@charset "UTF-8";

@mixin loading-indicator {

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
  height:12px;
  width:34px;
  margin-left:-17px;
  left:50%;
  top:60px;
  background: url('img/loading-indicator.gif') repeat scroll 0 0 transparent;
}

/*
 Delay the appearance of the loading indicator.
.v-loading-indicator{
  opacity: 0;
}
*/
}
