@charset "UTF-8";
@import "../base/base.scss";
@import "../commonbase/commonbase.scss";
@import "fonts.scss";
@import "colors.scss";
@import "button.scss";
@import "inputfield.scss";
@import "datefield.scss";
@import "util/utils.scss";

@mixin magnolia {

  @include base;
  @include commonbase;

  .v-app {
    font-family: Verdana, sans-serif;
    font-size: 13px;
  }

  .v-widget {
    font-size: 13px;
    line-height: 1.4;
  }

  .v-caption {
    font-size: 12px;
  }

  .v-formlayout-captioncell .v-caption {
    color: $c02;
  }

  .v-shadow {
    display: none;
  }

  @include button;
  @include inputfield;
  @include datefield;

}