@font-face {
	font-family: 'MagnoliaIcons';
	src:url('fonts/MagnoliaIcons.eot');
	src:url('fonts/MagnoliaIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/MagnoliaIcons.woff') format('woff'),
		url('fonts/MagnoliaIcons.ttf') format('truetype'),
		url('fonts/MagnoliaIcons.svg#MagnoliaIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Class per icon */
.icon-appslauncher, .icon-pulse, .icon-favorites, .icon-rssfeed, .icon-webpages-app, .icon-assets-app, .icon-documents-app, .icon-news, .icon-people, .icon-companies, .icon-items, .icon-files, .icon-contents, .icon-content-app, .icon-configuration-app, .icon-templating-app, .icon-security-app, .icon-jcr-app, .icon-logging-app, .icon-audit-app, .icon-import-export-app, .icon-language-app, .icon-packager-app, .icon-backup-app, .icon-folder, .icon-file, .icon-file-text, .icon-file-word, .icon-file-excel, .icon-file-powerpoint, .icon-file-pdf, .icon-file-webpage, .icon-file-image, .icon-file-video, .icon-file-audio, .icon-content-item, .icon-work-item, .icon-user-me, .icon-user-anyone, .icon-user-magnolia, .icon-user-system, .icon-user-public, .icon-user-group, .icon-user-role, .icon-node-folder, .icon-node-content, .icon-node-data, .icon-action, .icon-switch-preview, .icon-switch-edit, .icon-switch-review, .icon-open-fullscreen, .icon-close-fullscreen, .icon-open-fullscreen_2, .icon-close-fullscreen_2, .icon-show-changes, .icon-hide-changes, .icon-add-file, .icon-add-folder, .icon-delete, .icon-edit, .icon-move, .icon-view, .icon-copy, .icon-paste, .icon-duplicate, .icon-publish, .icon-publish-incl-sub, .icon-unpublish, .icon-mark, .icon-unmark, .icon-share, .icon-add-node-content, .icon-add-node-data, .icon-undo, .icon-redo, .icon-add-fav, .icon-remove-fav, .icon-import, .icon-export, .icon-upload, .icon-download, .icon-open-new-window, .icon-view-tree, .icon-view-list, .icon-view-thumbnails, .icon-search, .icon-arrow1_e, .icon-arrow1_n, .icon-arrow1_s, .icon-arrow1_w, .icon-slider-handle, .icon-slider-max, .icon-slider-min, .icon-slider-rail, .icon-arrow2_e, .icon-arrow2_n, .icon-arrow2_s, .icon-arrow2_w, .icon-confirm-tick, .icon-confirm, .icon-error-mark, .icon-error, .icon-warning-mark, .icon-warning, .icon-info_mark, .icon-info, .icon-help-mark, .icon-help, .icon-checkbox_off, .icon-checkbox_on, .icon-checkbox-tick, .icon-radio-dot, .icon-radio-off, .icon-radio-on, .icon-datepicker_2, .icon-trash, .icon-wizard-step, .icon-open-fullscreen_2, .icon-close-fullscreen_2, .icon-spinner-1, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-spinner-7, .icon-spinner-8, .icon-spinner-full, .icon-notification-badge-plus, .icon-notification-badge, .icon-tick, .icon-close, .icon-app, .icon-instant_preview, .icon-development-app, .icon-add-item, .icon-articles-app, .icon-forums, .icon-asset-pool, .icon-folder-l, .icon-node-folder-l, .icon-edit-wo, .icon-crop-image, .icon-rotate-image-cw, .icon-rotate-image-ccw, .icon-flip-horizontally, .icon-flip-vertically, .icon-zoom-to-fit, .icon-fit-canvas, .icon-view-in-actual-size, .icon-cache-app, .icon-server-config-info, .icon-config-info, .icon-shape-circle-plus, .icon-shape-circle, .icon-shape-triangle-plus, .icon-shape-triangle, .icon-link, .icon-internal-link, .icon-unlink {
	font-family: MagnoliaIcons !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-appslauncher:before {
	content: "\e000";
}
.icon-pulse:before {
	content: "\e001";
}
.icon-favorites:before {
	content: "\e002";
}
.icon-rssfeed:before {
	content: "\e003";
}
.icon-webpages-app:before {
	content: "\e004";
}
.icon-assets-app:before {
	content: "\e005";
}
.icon-documents-app:before {
	content: "\e006";
}
.icon-news:before {
	content: "\e007";
}
.icon-people:before {
	content: "\e008";
}
.icon-companies:before {
	content: "\e009";
}
.icon-items:before {
	content: "\e00a";
}
.icon-files:before {
	content: "\e00b";
}
.icon-contents:before {
	content: "\e00c";
}
.icon-content-app:before {
	content: "\e00d";
}
.icon-configuration-app:before {
	content: "\e00e";
}
.icon-templating-app:before {
	content: "\e00f";
}
.icon-security-app:before {
	content: "\e010";
}
.icon-jcr-app:before {
	content: "\e011";
}
.icon-logging-app:before {
	content: "\e012";
}
.icon-audit-app:before {
	content: "\e013";
}
.icon-import-export-app:before {
	content: "\e014";
}
.icon-language-app:before {
	content: "\e015";
}
.icon-packager-app:before {
	content: "\e016";
}
.icon-backup-app:before {
	content: "\e017";
}
.icon-folder:before {
	content: "\e018";
}
.icon-file:before {
	content: "\e019";
}
.icon-file-text:before {
	content: "\e01a";
}
.icon-file-word:before {
	content: "\e01b";
}
.icon-file-excel:before {
	content: "\e01c";
}
.icon-file-powerpoint:before {
	content: "\e01d";
}
.icon-file-pdf:before {
	content: "\e01e";
}
.icon-file-webpage:before {
	content: "\e01f";
}
.icon-file-image:before {
	content: "\e020";
}
.icon-file-video:before {
	content: "\e021";
}
.icon-file-audio:before {
	content: "\e022";
}
.icon-content-item:before {
	content: "\e023";
}
.icon-work-item:before {
	content: "\e024";
}
.icon-user-me:before {
	content: "\e025";
}
.icon-user-anyone:before {
	content: "\e026";
}
.icon-user-magnolia:before {
	content: "\e027";
}
.icon-user-system:before {
	content: "\e028";
}
.icon-user-public:before {
	content: "\e029";
}
.icon-user-group:before {
	content: "\e02a";
}
.icon-user-role:before {
	content: "\e02b";
}
.icon-node-folder:before {
	content: "\e02c";
}
.icon-node-content:before {
	content: "\e02d";
}
.icon-node-data:before {
	content: "\e02e";
}
.icon-action:before {
	content: "\e02f";
}
.icon-switch-preview:before {
	content: "\e030";
}
.icon-switch-edit:before {
	content: "\e031";
}
.icon-switch-review:before {
	content: "\e032";
}
.icon-open-fullscreen:before {
	content: "\e033";
}
.icon-close-fullscreen:before {
	content: "\e034";
}
.icon-show-changes:before {
	content: "\e035";
}
.icon-hide-changes:before {
	content: "\e036";
}
.icon-add-file:before {
	content: "\e037";
}
.icon-add-folder:before {
	content: "\e038";
}
.icon-delete:before {
	content: "\e039";
}
.icon-edit:before {
	content: "\e03a";
}
.icon-move:before {
	content: "\e03b";
}
.icon-view:before {
	content: "\e03c";
}
.icon-copy:before {
	content: "\e03d";
}
.icon-paste:before {
	content: "\e03e";
}
.icon-duplicate:before {
	content: "\e03f";
}
.icon-publish:before {
	content: "\e040";
}
.icon-publish-incl-sub:before {
	content: "\e041";
}
.icon-unpublish:before {
	content: "\e042";
}
.icon-mark:before {
	content: "\e043";
}
.icon-unmark:before {
	content: "\e044";
}
.icon-share:before {
	content: "\e045";
}
.icon-add-node-content:before {
	content: "\e046";
}
.icon-add-node-data:before {
	content: "\e047";
}
.icon-undo:before {
	content: "\e048";
}
.icon-redo:before {
	content: "\e049";
}
.icon-add-fav:before {
	content: "\e04a";
}
.icon-remove-fav:before {
	content: "\e04b";
}
.icon-import:before {
	content: "\e04c";
}
.icon-export:before {
	content: "\e04d";
}
.icon-upload:before {
	content: "\e04e";
}
.icon-download:before {
	content: "\e04f";
}
.icon-open-new-window:before {
	content: "\e050";
}
.icon-view-tree:before {
	content: "\e051";
}
.icon-view-list:before {
	content: "\e052";
}
.icon-view-thumbnails:before {
	content: "\e053";
}
.icon-search:before {
	content: "\e054";
}
.icon-arrow1_e:before {
	content: "\e055";
}
.icon-arrow1_n:before {
	content: "\e056";
}
.icon-arrow1_s:before {
	content: "\e057";
}
.icon-arrow1_w:before {
	content: "\e058";
}
.icon-slider-handle:before {
	content: "\e059";
}
.icon-slider-max:before {
	content: "\e05a";
}
.icon-slider-min:before {
	content: "\e05b";
}
.icon-slider-rail:before {
	content: "\e05c";
}
.icon-arrow2_e:before {
	content: "\e05d";
}
.icon-arrow2_n:before {
	content: "\e05e";
}
.icon-arrow2_s:before {
	content: "\e05f";
}
.icon-arrow2_w:before {
	content: "\e060";
}
.icon-confirm-tick:before {
	content: "\e061";
}
.icon-confirm:before {
	content: "\e062";
}
.icon-error-mark:before {
	content: "\e063";
}
.icon-error:before {
	content: "\e064";
}
.icon-warning-mark:before {
	content: "\e066";
}
.icon-warning:before {
	content: "\e067";
}
.icon-info_mark:before {
	content: "\e068";
}
.icon-info:before {
	content: "\e069";
}
.icon-help-mark:before {
	content: "\e06a";
}
.icon-help:before {
	content: "\e06b";
}
.icon-checkbox_off:before {
	content: "\e06c";
}
.icon-checkbox_on:before {
	content: "\e06d";
}
.icon-checkbox-tick:before {
	content: "\e06e";
}
.icon-radio-dot:before {
	content: "\e06f";
}
.icon-radio-off:before {
	content: "\e070";
}
.icon-radio-on:before {
	content: "\e071";
}
.icon-datepicker_2:before {
	content: "\e072";
}
.icon-trash:before {
	content: "\e073";
}
.icon-wizard-step:before {
	content: "\e074";
}
.icon-open-fullscreen_2:before {
	content: "\e075";
}
.icon-close-fullscreen_2:before {
	content: "\e076";
}
.icon-spinner-1:before {
	content: "\e077";
}
.icon-spinner-2:before {
	content: "\e078";
}
.icon-spinner-3:before {
	content: "\e079";
}
.icon-spinner-4:before {
	content: "\e07a";
}
.icon-spinner-5:before {
	content: "\e07b";
}
.icon-spinner-6:before {
	content: "\e07c";
}
.icon-spinner-7:before {
	content: "\e07d";
}
.icon-spinner-8:before {
	content: "\e07e";
}
.icon-spinner-full:before {
	content: "\e07f";
}
.icon-notification-badge-plus:before {
	content: "\e080";
}
.icon-notification-badge:before {
	content: "\e081";
}
.icon-tick:before {
	content: "\e082";
}
.icon-close:before {
	content: "\e083";
}
.icon-app:before {
	content: "\e084";
}
.icon-instant_preview:before {
	content: "\e085";
}
.icon-development-app:before {
	content: "\e086";
}
.icon-add-item:before {
	content: "\e087";
}
.icon-articles-app:before {
	content: "\e088";
}
.icon-forums:before {
	content: "\e089";
}
.icon-asset-pool:before {
	content: "\e08a";
}
.icon-folder-l:before {
	content: "\e08b";
}
.icon-node-folder-l:before {
	content: "\e08c";
}
.icon-edit-wo:before {
	content: "\e08d";
}
.icon-crop-image:before {
	content: "\e08e";
}
.icon-rotate-image-cw:before {
	content: "\e08f";
}
.icon-rotate-image-ccw:before {
	content: "\e090";
}
.icon-flip-horizontally:before {
	content: "\e091";
}
.icon-flip-vertically:before {
	content: "\e092";
}
.icon-zoom-to-fit:before {
	content: "\e093";
}
.icon-fit-canvas:before {
	content: "\e094";
}
.icon-view-in-actual-size:before {
	content: "\e095";
}
.icon-cache-app:before {
	content: "\e096";
}
.icon-server-config-info:before {
	content: "\e097";
}
.icon-config-info:before {
	content: "\e098";
}
.icon-shape-circle-plus:before {
	content: "\e09a";
}
.icon-shape-circle:before {
	content: "\e09b";
}
.icon-shape-triangle-plus:before {
	content: "\e09c";
}
.icon-shape-triangle:before {
	content: "\e09d";
}
.icon-link:before {
	content: "\e09e";
}
.icon-internal-link:before {
	content: "\e09f";
}
.icon-unlink:before {
	content: "\e0a0";
}
