@charset "UTF-8";
@import "../base/base.scss";
@import "../commonbase/commonbase.scss";
@import "fonts.scss";
@import "magnolia-icons.scss";
@import "colors.scss";
@import "messages.scss";
@import "loading-indicator.scss";
@import "button.scss";
@import "inputfield.scss";
@import "input";
@import "datefield.scss";
@import "util/utils.scss";

@mixin magnolia {

  @include magnoliaIcons;
  @include base;
  @include commonbase;

  .v-app {
    font-family: Verdana, sans-serif;
    font-size: 13px;
  }

  .v-csslayout{
    overflow:visible;
  }

  .v-csslayout-container {
    overflow: hidden;
  }

  .v-widget {
    font-size: 13px;
    line-height: 1.4;
  }

  .v-caption {
    font-size: 12px;
  }

  .v-formlayout-captioncell .v-caption {
    color: $c12;
  }

  .v-shadow {
    display: none;
  }

  @include messages;
  @include loading-indicator;
  @include button;
  @include inputfield;
  @include input;
  @include datefield;

}