@charset "UTF-8";

@mixin messages {
  .msgwhite {
    background-color: $c80;
  }
  .msginfo {
    background-color: $c16;
    color: $c90;
  }
  .msgwarn {
    background-color: $c60;
    color: $c90;
  }
  .msgerror {
    background-color: $c70;
    color: $c80;
  }
}
